@using AstroOfficeHybrid8.Components.Pages.Account
@using Microsoft.AspNetCore.Components.Authorization
<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(MauiProgram).Assembly">
        <Found Context="routeData">
            @*   <RouteView RouteData="@routeData" DefaultLayout="@typeof(Components.Layout.MainLayout)" />
            <FocusOnNavigate RouteData="@routeData" Selector="h1" /> *@
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(Components.Layout.MainLayout)">
                <Authorizing>
                    <p>Please wait, we are authorizring the user!</p>
                </Authorizing>
                <NotAuthorized>
                    @* <LayoutView Layout="@typeof(AccountLayout)"> *@
                    <Login />
                    @* </LayoutView> *@
                </NotAuthorized>
            </AuthorizeRouteView>
        </Found>
    </Router>
</CascadingAuthenticationState>

