<MudDialog Class="overflow-y-scroll">
    <EditForm Model="@Category" OnValidSubmit="AddCategory">
        <DataAnnotationsValidator />
        @* <TitleContent>
        </TitleContent> *@
        <DialogContent>
            <MudPaper Class="pa-2 ma-2" Elevation="0">
                <label for="Category-Title">Title</label>
                <MudTextField T="string" id="Category-Title" Variant="Variant.Filled" Placeholder=" Enter category title" @bind-Value="Category.Title" />
            </MudPaper>
            <MudPaper Class="pa-2 ma-2" Elevation="0">
                <label for="Category-Slug">Slug</label>
                <MudTextField T="string" id="Category-Slug" Variant="Variant.Filled" Placeholder=" Enter slug" @bind-Value="Category.Slug" />
            </MudPaper>
            <MudPaper Class="pa-2 ma-2" Elevation="0">


                <label>Attachment File</label>
                <div class="custom-file">
                    <InputFile typeclass="custom-file-input" id="inputFile" accept=".jpeg, .jpg, .png" OnChange="OnChange_InputFile" />
                </div>
                @if (Category.ImageUrl != null)
                {
                    <img alt="CategoryImage" class="img-thumbnail" src="@Category.ImageUrl" height="100" width="100" title="@Category.Title" />
                }
            </MudPaper>


            <MudPaper Class="pa-2 ma-2" Elevation="0">
                <label for="Category-ParentCategory">Parent Category</label>
                <MudSelect T="long?" @bind-Value="@Category.ParentCategorySno" For="@(() => Category.ParentCategorySno)" Placeholder="Select parent category" id="Category-ParentCategory" Variant="Variant.Filled" AnchorOrigin="Origin.BottomCenter">
                    @foreach (var item in CategoryOptions)
                    {
                        <MudSelectItem T="long?" Value="Convert.ToInt64(item.Value)">@item.Text</MudSelectItem>
                    }
                </MudSelect>
            </MudPaper>
            <MudPaper Class="pa-2 ma-2" Elevation="0">
                <label for="Category-Status">Status</label>
                <MudSelect T="string" @bind-Value="@Category.Status" For="@(() => Category.Status)" Placeholder="Select category status" id="Category-Status" Variant="Variant.Filled" AnchorOrigin="Origin.BottomCenter">
                    <MudSelectItem Value="@("Scheduled")" />
                    <MudSelectItem Value="@("Publish")" />
                    <MudSelectItem Value="@("Inactive")" />
                </MudSelect>
            </MudPaper>
            <MudPaper Class="pa-2 ma-2" Elevation="0">
                <label for="product-description">Description</label>
                <InputTextEditor @bind-Value="@Category.Descriptions" id="product-description"></InputTextEditor>
            </MudPaper>

        </DialogContent>
        <DialogActions>
            <MudButton ButtonType="ButtonType.Submit" Color="Color.Success" Size="Size.Medium" Variant="Variant.Filled"> Save Category </MudButton>
            <MudButton Class="mr-4" Color="Color.Primary" Size="Size.Medium" Variant="Variant.Filled" OnClick="Cancel">Cancel</MudButton>
        </DialogActions>
    </EditForm>
</MudDialog>