@page "/manage-products"

@using AstroOfficeWeb.Services;
@using AstroOfficeWeb.Shared.DTOs;

@inject ProductService ProductService
@inject NavigationManager NavigationManager
@inject IDialogService Dialog


<div class="pt-4 pb-2 "><button class="btn btn-custom" @onclick="()=>OnClick_BtnAdd()">Add Product</button></div>

@if (Products == null)
{
    <table class="table">
        <thead>
            <tr>

                <th scope="col">Sr No</th>
                <th scope="col">Name</th>
                <th scope="col">Image</th>
                <th scope="col">Stock</th>
                <th scope="col">Added Date</th>
                <th scope="col">Last Modified Date</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 1; i <= 10; i++)
            {
                <tr>
                    <th scope="row">@i</th>
                    <td><MudSkeleton /></td>
                    <td><MudSkeleton /></td>
                    <td><MudSkeleton /></td>
                    <td><MudSkeleton /></td>
                    <td><MudSkeleton /></td>
                    <td><MudSkeleton /></td>
                </tr>
            }
        </tbody>
    </table>
}
else if (Products.Any())
{
    <MudDataGrid T="ViewProductDTO" Items="@Products" SortMode="SortMode.Multiple" Filterable="true" QuickFilter="@QuickFilter">
        <ToolBarContent>
            <MudTextField @bind-Value="SearchString" Placeholder="Search" Adornment="Adornment.Start" Immediate="true"
                          AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
        </ToolBarContent>
        <Columns>

            <PropertyColumn Property="x => x.Sno" Sortable="false" Filterable="false" Title="SrNo" />
            <PropertyColumn Property="x => x.Name" Title="Name" />
            <PropertyColumn Property="x=> x.ImageUrl" Title="Image">
                <CellTemplate>
                    <img alt="@context.Item.Name" class="img-thumbnail" src="@(context.Item.ImageUrl ?? "images/image-not-found.png")" height="50" width="50" title="@context.Item.Name" />
                </CellTemplate>
            </PropertyColumn>
            <PropertyColumn Property="x => x.Price" Title="Price" />
            <PropertyColumn Property="x => x.StockQuantity" Title="Stock Quantity" />
            <PropertyColumn Property="x => x.AddedDate" Title="Added Date" />
            <PropertyColumn Property="x => x.LastModifiedDate" Title="Last Modified Date" />
            <TemplateColumn Filterable="false" Sortable="false" CellClass="mud-table-cell">
                <CellTemplate>
                    <MudIconButton Size="@Size.Small" Icon="@Icons.Material.Outlined.RemoveRedEye" OnClick="(()=> OnClick_BtnShow(context.Item))" />
                    <MudIconButton Size="@Size.Small" Icon="@Icons.Material.Outlined.Edit" OnClick="(()=> OnClick_BtnEdit(context.Item))" />
                    <MudIconButton Size="@Size.Small" Icon="@Icons.Material.Outlined.Delete" OnClick="(()=> OnClick_BtnDelete(context.Item))" />
                </CellTemplate>
            </TemplateColumn>
        </Columns>
        <PagerContent>
            <MudDataGridPager T="ViewProductDTO" />
        </PagerContent>
    </MudDataGrid>
}
else
{

}
