@* @page "/manage-products/{Mode}/product"  *@
@* @page "/manage-products/{Mode}/product/{Sno:long}/{Name}" *@
@* @attribute [Authorize(Roles = "Admin,User,ManageProduct")] *@

@using AstroOfficeWeb.Services;
@using AstroOfficeWeb.Shared.DTOs;
@using MudBlazor

@inject ProductService ProductService
@inject LookupService LookupService
@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime
@inject ISnackbarService Snackbar
@inject IDialogService Dialog

<MudOverlay Visible=!IsCompleted DarkBackground="true">
    <MudProgressCircular Color="Color.Secondary" Indeterminate="true" />
</MudOverlay>
<div class="row">
    <div class="col-lg-12 ">
        <BSNavs BSTabName="Save Product Info">
            <BSTabItems>
                <BSNavItem @ref="BSNavGeneralInfo" TabName="@SaveProductTab.General.ToDescriptionString()" IsActive="true" TabNumber="1"></BSNavItem>
                <BSNavItem @ref="BSNavProductImages" TabName="@SaveProductTab.ProductImages.ToDescriptionString()" TabNumber="2"></BSNavItem>
                <BSNavItem @ref="BSNavMetaData" TabName="@SaveProductTab.Metadata.ToDescriptionString()" TabNumber="3"></BSNavItem>
            </BSTabItems>
            <BSTabContent>
                <BSNavItemPane IsActive="true" TabPanelName="@SaveProductTab.General.ToDescriptionString()">
                    <TabPaneBody>
                        @if (IsCompleted)
                        {
                            <ProductGeneralInfo @ref="GeneralInfoRef"  Model=@(GeneralInfo ?? new ()) CategoryItems="CategoryOptions" />
                        }

                        <MudStack Justify="Justify.FlexEnd" Row="true">
                            <MudButton Variant="Variant.Filled" EndIcon="@Icons.Material.Filled.ArrowForward" Color="Color.Primary" OnClick="() => OnClick_BtnProceed(SaveProductTab.ProductImages)">Add More Info</MudButton>
                        </MudStack>
                    </TabPaneBody>
                </BSNavItemPane>

                <BSNavItemPane TabPanelName="@SaveProductTab.ProductImages.ToDescriptionString()">
                    <TabPaneBody>
                        <ProductMediaInfo Items="MediaFiles ?? new List<MediaFileDTO>()" />
                        <MudStack Justify="Justify.FlexEnd" Row="true">
                            <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.ArrowBack" Color="Color.Secondary" OnClick="() => OnClick_BtnProceed(SaveProductTab.General)">Back To General</MudButton>
                            <MudButton Variant="Variant.Filled" EndIcon="@Icons.Material.Filled.ArrowForward" Color="Color.Primary" OnClick="() => OnClick_BtnProceed(SaveProductTab.Metadata)">Add Metadata</MudButton>
                        </MudStack>
                    </TabPaneBody>
                </BSNavItemPane>

                <BSNavItemPane TabPanelName="@SaveProductTab.Metadata.ToDescriptionString()">
                    <TabPaneBody>
                        <ProductMetadataInfo Items="MetaDatas ?? new List<MetaDataDTO>()" />
                        <MudStack Justify="Justify.FlexEnd" Row="true">
                            <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.ArrowBack" Color="Color.Secondary" OnClick="() => OnClick_BtnProceed(SaveProductTab.ProductImages)">Edit Information</MudButton>
                            <MudButton Variant="Variant.Filled" EndIcon="@Icons.Material.Filled.Publish" Color="Color.Success" OnClick="OnClick_BtnPublish">Publish Product</MudButton>
                        </MudStack>
                    </TabPaneBody>
                </BSNavItemPane>
            </BSTabContent>
        </BSNavs>
    </div>
</div>
