@page "/user-wishlist"
@using AstroOfficeWeb.Services


@inject ProductService ProductService
@inject NavigationManager NavigationManager
@inject ISnackbar Snackbar


@if (ViewProductDTOs == null)
{
    <div class="row @Breakpoint">
        @for (int i = 0; i < 10; i++)
        {

            <div class="col">
                <div class="card bg-transparent">
                    <MudSkeleton Class="card-img-top" SkeletonType="SkeletonType.Rectangle" Height="150px" />
                    <div class="card-body text-center">
                        <MudSkeleton SkeletonType="SkeletonType.Rectangle" Height="50px" />
                    </div>
                </div>
            </div>
        }
    </div>
}
else if (ViewProductDTOs.Any())
{
    <div class="row @Breakpoint">
        @foreach (var product in ViewProductDTOs)
        {
            <div class="col wishlist-card">
                <div class="card-body mb-2 bg-light rounded-lg" style="transform: rotate(0);">
                    <div class="card card-img-actions rounded-lg m-2" @onclick="()=>OnCLick_ALickViewProdcut(product)">
                        <img src="@product.ImageUrl" alt="@product.Name" title="@product.Name" class="card-img img-fluid">

                        @if (product.SecondaryImageUrl == null)
                        {
                            <img src="@product.ImageUrl" alt="@product.Name" title="@product.Name" class="hover-img img-fluid" />
                        }
                        else
                        {
                            <img src="@product.SecondaryImageUrl" alt="@product.Name" title="@product.Name" class="hover-img img-fluid" />
                        }

                    </div>
                    <div class=" card-icon wd-wishlist-product-actions">
                        <div class="wd-wishlist-product-remove wd-action-btn wd-style-text wd-cross-icon">
                            <a><MudButton StartIcon="@Icons.Material.Filled.Close" OnClick="()=>OnCLick_ALickVRemoveWishlist(product)" Class="pa-0 p-0"></MudButton></a>
                        </div>
                    </div>
                    <div class=" text-center">
                        <h5 class="card-title">@product.Name</h5>

                        <div class="m-2">
                            <MudButton Variant="Variant.Filled" Class="btn-block " Size="Size.Small" StartIcon="@Icons.Material.Filled.AddShoppingCart" Color="Color.Warning" OnClick="()=>OnCLick_BtnAddToCart(product)"> Add to cart </MudButton>

                        </div>

                    </div>

                </div>
            </div>
        }
    </div>
}
else
{
    <div class="row">
        <div class="col-md-12 d-flex justify-content-center">
            <div class="card shadow-none bg-transparent">
                <div class="card-body">
                    <div class="col-sm-12 text-center">
                        <h3 class="fas fa-heart"></h3>
                        <h3>This wishlist is empty.</h3>
                        <h4>You don't have any products in the wishlist yet.</h4>
                        <h4>You will find a lot of interesting products on our "Shop" page. :)</h4>
                        <a href="products" class="btn btn-custom fw-semibold"> Continue Shopping</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@*    </ChildContent>
</Container>
 *@
