@inject ISnackbarService Snackbar
@inject NavigationManager NavigationManager
@inject ProductService ProductService

<div class="row">
    <div class="col">
        <ViewCategories OnCategorySelected="OnCategorySelected" />
    </div>

    <div class="col-9">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">
            <div class="col">
                <ProductFilter OnFilterReset="OnFilterReset" OnFilterChanged="OnFilterChanged" />
            </div>
        </div>

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">
            @if (FilteredProducts == null)
            {
                for (int i = 0; i < 10; i++)
                {
                    <div class="col">
                        <div class="card shop-card">
                            <div class="card-body d-flex align-items-center flex-column">
                                <MudSkeleton SkeletonType="SkeletonType.Rectangle" Width="200px" Height="110px" />
                                <MudSkeleton Width="30%" Height="40px" />
                                <MudSkeleton Width="30%" Height="40px;" />
                                <MudSkeleton Width="30%" Height="50px;" />
                            </div>
                        </div>
                    </div>
                }
            }
            else if (VisiableProducts.Any())
            {
                foreach (ViewProductDTO product in VisiableProducts)
                {

                    <div class="col">
                        <div class="card shop-card">
                            <div class="card-body" style="transform: rotate(0);">
                                <div class="card-img-actions">
                                    <img src="@product.ImageUrl" alt="@product.Name" title="@product.Name" class="card-img img-fluid" width="96" height="350">
                                    <img src="https://www.astromantra.com/wp-content/uploads/2022/03/IMG_3212-555x555.jpg" alt="@product.Name" title="@product.Name" class="hover-img" width="96" height="350" />
                                </div>

                                <div class="card-icon">
                                    <div class="quick-view wd-action-btn wd-style-icon wd-quick-view-icon">

                                        <a> <i class="fas fa-search"></i></a>
                                    </div>
                                    <div class="wd-wishlist-btn wd-action-btn wd-style-icon wd-wishlist-icon">
                                        <a> <i class="far fa-heart"></i></a>

                                    </div>

                                </div>

                                <a href="javascript:void(0);" class="text-default mb-2 stretched-link" data-abc="true" @onclick="() => OnClick_ALinkView(product)"></a>
                            </div>

                            <div class="card-body text-center">
                                <div class="mb-2 " style="transform: rotate(0);">
                                    <h6 class="font-weight-semibold mb-0">
                                        <a href="javascript:void(0);" class="text-default mb-0 stretched-link" title="@product.Name" data-abc="true" @onclick="() => OnClick_ALinkView(product)">@product.Name</a>
                                    </h6>
                                </div>

                                <h3 class="mb-0">
                                    &#8377; @product.Price.ToString("N2")
                                </h3>

                                @* <div>
                        <i class="fa fa-star star"></i>
                        <i class="fa fa-star star"></i>
                        <i class="fa fa-star star"></i>
                        <i class="fa fa-star star"></i>
                        </div> *@

                                @* <div class="text-muted mb-3">34 reviews</div> *@

                                <button type="button" class="btn bg-cart" @onclick="() => OnClick_BtnAddToCart(product)"><i class="fa fa-cart-plus mr-2"></i> Add to cart</button>

                            </div>
                        </div>
                    </div>
                }
            }
        </div>

        <div class="row">
            <div class="col-12 d-flex flex-column align-center">
                <MudPagination SelectedChanged="PageChanged" BoundaryCount="1" MiddleCount="1" Count="TotalPages" />
            </div>
        </div>
    </div>
</div>


@code {
    [Parameter]
    public EventCallback<bool> EventCallback { get; set; }

    [Parameter]
    public string? CategorySno { get; set; } = null;
    [Parameter]
    public string? CategoryName { get; set; } = null;

    [Parameter]
    public int CurrentPage { get; set; } = 1;
}