@* @page "/products"
@page "/products/{CategorySno}/{CategoryName}" *@
@* @page "/products/{CurrentPage:int}" *@
@*
@using AstroOfficeWeb.Client.Services


@inject ProductService ProductService
@inject NavigationManager NavigationManager
@inject StateContainerService StateContainerService
@inject IJSRuntime JSRuntime *@
@inject ISnackbar Snackbar
@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager
@inject ProductService ProductService


<MudSwipeArea OnSwipeEnd="@OnSwipe">
    <MudDrawer @bind-Open="IsDrawerOpen" Width="375px" Height="100%" Anchor="Anchor.End" Elevation="1" Variant="DrawerVariant.Temporary">
        <MudDrawerHeader>
            <MudGrid>
                <MudItem xs="12">
                    <MudStack Justify="Justify.SpaceBetween" Row="true">
                        <MudText Typo="Typo.h6">
                            Filter Shopping
                        </MudText>
                        <MudIconButton Icon="@Icons.Material.Filled.Close" Color="Color.Primary" Size="Size.Small" OnClick="OnClick_BtnClose" />
                    </MudStack>
                </MudItem>
            </MudGrid>
        </MudDrawerHeader>
        <MudDrawerContainer>
            <MudGrid>
                <MudItem xs="12">
                    <MudPaper Elevation="0" Class="pa-4">
                        <MudItem Style="padding-top:0;padding-bottom:25px;">
                            <MudSelect T="string" Class="text-white" Label="Sort by price" @bind-Value="sortByPrice" SelectedValuesChanged="(async (x)=> await ApplyFilter())" AnchorOrigin="Origin.BottomCenter" id="sortShopdropdown">
                                <MudSelectItem Value="@("Default")" />
                                <MudSelectItem Value="@("Low-Max")" />
                                <MudSelectItem Value="@("Max-Low")" />
                            </MudSelect>
                        </MudItem>

                        <MudItem Style="padding-top:0;padding-bottom:25px">
                            <MudSelect T="string" Label="Page size" @bind-Value="pageSize" SelectedValuesChanged="(async (x)=> await ApplyFilter())" AnchorOrigin="Origin.BottomCenter" id="pageSizeShopdropdown">
                                <MudSelectItem Value="@("24")" />
                                <MudSelectItem Value="@("40")" />
                                <MudSelectItem Value="@("80")" />
                            </MudSelect>
                        </MudItem>
                        <MudItem Style="padding-top:0;padding-bottom:25px">
                            <MudText> Shop By Category</MudText>
                            <MudNavMenu>

                                @if (CategoryDTOs == null)
                                {
                                    for (int i = 0; i < 10; i++)
                                    {
                                        <MudSkeleton Width="100%" Height="42px;" />
                                    }
                                }
                                else if (CategoryDTOs.Any())
                                {
                                    foreach (var category in CategoryDTOs)
                                    {
                                        if (category.SubCategories != null && category.SubCategories.Any())
                                        {
                                            <MudNavGroup Title="@category.Title">
                                                @foreach (var subcategory in category.SubCategories)
                                                {
                                                    <MudNavLink OnClick="(()=> OnClick_CategoryList(subcategory))">@subcategory.Title</MudNavLink>
                                                }
                                            </MudNavGroup>
                                        }
                                        else
                                        {
                                            <MudNavLink OnClick="(()=> OnClick_CategoryList(category))">@category.Title</MudNavLink>
                                        }
                                    }
                                }

                            </MudNavMenu>
                        </MudItem>
                    </MudPaper>
                    <div class="d-flex justify-content-between">
                        <MudPaper Class="pa-4" Elevation="0">
                            <MudButton ButtonType=ButtonType.Button Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto" OnClick="OnClick_BtnClose">Close</MudButton>
                        </MudPaper>

                        <MudItem Class="pa-4 ">
                            <MudButton OnClick="OnClick_BtnClear" ButtonType=ButtonType.Button Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto">Clear Filter</MudButton>
                        </MudItem>
                    </div>
                </MudItem>
            </MudGrid>
        </MudDrawerContainer>
    </MudDrawer>
</MudSwipeArea>



<div class="search-btn-group">
    <MudPaper Class="rounded-lg p-2">
        <div class="row">
            <div class="col">
                <MudTextField T="string" DebounceInterval="500" InputType="InputType.Search" TextChanged="FilterFunc" Placeholder="Search Product" Variant="Variant.Outlined" Adornment="Adornment.End" AdornmentIcon="@Icons.Material.Filled.Search" Margin="Margin.Dense" />
            </div>
            <div class="col-2 d-flex justify-content-end">
                <MudIconButton OnClick="OnClick_BtnFilter" Icon="@Icons.Material.Filled.FilterAlt" Class="d-flex d-md-none m-auto rounded-circle" Variant="Variant.Filled" Size="Size.Medium" Color="Color.Primary"></MudIconButton>
            </div>
        </div>
    </MudPaper>
</div>
<div class="row mb-2">
    <div class="col">
        <div class="shop-search">
            <MudForm @ref="Form">
                <MudGrid Class="pl-2">
                    <MudItem xs="12" sm="4" Class="pr-0">
                        <MudTextField T="string" DebounceInterval="500" InputType="InputType.Search" TextChanged="FilterFunc" Placeholder="Search Product" Variant="Variant.Outlined" Adornment="Adornment.End" AdornmentIcon="@Icons.Material.Filled.Search" Margin="Margin.Dense" />
                    </MudItem>

                    <MudItem xs="12" sm="4" Class="pr-0">
                        <MudSelect T="string" Class="text-white" Variant="Variant.Outlined" Margin="Margin.Dense" Label="Sort by price" @bind-Value="sortByPrice" SelectedValuesChanged="(async (x)=> await ApplyFilter())" AnchorOrigin="Origin.BottomCenter" id="sortShopdropdown">
                            <MudSelectItem Value="@("Default")" />
                            <MudSelectItem Value="@("Low-Max")" />
                            <MudSelectItem Value="@("Max-Low")" />
                        </MudSelect>
                    </MudItem>
                    <MudItem xs="12" sm="3">
                        <MudSelect T="string" Label="Page size" @bind-Value="pageSize" Margin="Margin.Dense" Variant="Variant.Outlined" SelectedValuesChanged="(async (x)=> await ApplyFilter())" AnchorOrigin="Origin.BottomCenter" id="pageSizeShopdropdown">
                            <MudSelectItem Value="@("24")" />
                            <MudSelectItem Value="@("40")" />
                            <MudSelectItem Value="@("80")" />
                        </MudSelect>
                    </MudItem>
                    <MudItem sm="1" Class="d-flex justify-center align-content-center pl-0">
                        @* <MudButton OnClick="OnClick_BtnClear" Class="btn-custom" Style="margin-top:20px;">Clear</MudButton> *@
                        <MudIconButton Class="rounded-circle btn btn-custom m-auto" ButtonType="ButtonType.Button" Variant="Variant.Filled" Icon="@Icons.Material.Rounded.FilterAltOff" OnClick="OnClick_BtnClear" aria-label="clear filter"></MudIconButton>
                    </MudItem>
                </MudGrid>
            </MudForm>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xl-3 col-lg-4 col-md-4 col-sm-12 col-12">
        <div class="categories h-100">

            <h2 class="category-title">Shop Categories</h2>


            <div class="categories-list">
                <MudNavMenu>

                    @if (CategoryDTOs == null)
                    {
                        for (int i = 0; i < 10; i++)
                        {
                            <MudSkeleton Width="100%" Height="42px;" />
                        }
                    }
                    else if (CategoryDTOs.Any())
                    {
                        foreach (var category in CategoryDTOs)
                        {
                            if (category.SubCategories != null && category.SubCategories.Any())
                            {
                                <MudNavGroup Title="@category.Title">
                                    @foreach (var subcategory in category.SubCategories)
                                    {
                                        <MudNavLink OnClick="(()=> OnClick_CategoryList(subcategory))">@subcategory.Title</MudNavLink>
                                    }
                                </MudNavGroup>
                            }
                            else
                            {
                                <MudNavLink OnClick="(()=> OnClick_CategoryList(category))">@category.Title</MudNavLink>
                            }
                        }
                    }

                </MudNavMenu>

            </div>
        </div>
    </div>
    <div class="col-xl-9 col-lg-8 col-md-8 col-sm-12 col-12">
        <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4">
            @if (Products == null)
            {
                for (int i = 0; i < 10; i++)
                {
                    <div class="col mb-2">
                        <div class="card shop-card">
                            <div class="card-body d-flex flex-column">
                                <MudSkeleton SkeletonType="SkeletonType.Rectangle" Width="100%" Height="110px" />
                                <MudSkeleton Width="50%" Height="40px" />
                                <MudSkeleton Width="75%" Height="40px;" />
                                <MudSkeleton Width="100%" Height="50px;" />
                            </div>
                        </div>
                    </div>
                }
            }
            else if (Products.Any())
            {
                foreach (ViewProductDTO product in ListedProducts)
                {
                    <div class="col mb-2">
                        <div class="card shop-card h-100">
                            <div class="card-body" style="transform: rotate(0);">
                                <div class="card-img-actions overflow-hidden rounded-lg">
                                    <img src="@product.ImageUrl" alt="@product.Name" title="@product.Name" class="card-img img-fluid" width="96" height="350">

                                    @if (product.SecondaryImageUrl == null)
                                    {
                                        <img src="@product.ImageUrl" alt="@product.Name" title="@product.Name" class="hover-img" width="96" height="350">
                                    }
                                    else
                                    {
                                        <img src="@product.SecondaryImageUrl" alt="@product.Name" class="hover-img" width="96" height="350">
                                    }


                                </div>

                                <div class="card-icon">
                                    <div class="quick-view wd-action-btn wd-style-icon wd-quick-view-icon">

                                        <a> <i class="fas fa-search"></i></a>
                                    </div>
                                    <div class="wd-wishlist-btn wd-action-btn wd-style-icon wd-wishlist-icon">
                                        <a> <i class="far fa-heart"></i></a>

                                    </div>

                                </div>

                                <a href="javascript:void(0);" class="text-default mb-2 stretched-link" data-abc="true" @onclick="() => OnClick_ALinkView(product)"></a>
                            </div>

                            <div class="card-body text-center">
                                <div class="mb-2 " style="transform: rotate(0);">
                                    <h6 class="font-weight-semibold mb-0 text-truncate">
                                        <a href="javascript:void(0);" class="text-default mb-0 stretched-link" title="@product.Name" data-abc="true" @onclick="() => OnClick_ALinkView(product)">@product.Name</a>
                                    </h6>
                                </div>

                                <h3 class="mb-0">
                                    &#8377; @product.Price.ToString("N2")
                                </h3>

                                @* <div>
                        <i class="fa fa-star star"></i>
                        <i class="fa fa-star star"></i>
                        <i class="fa fa-star star"></i>
                        <i class="fa fa-star star"></i>
                        </div> *@

                                @* <div class="text-muted mb-3">34 reviews</div> *@

                                <button type="button" class="btn btn-block btn-sm btn-warning text-light" @onclick="() => OnClick_BtnAddToCart(product)"><i class="fa fa-cart-plus mr-2"></i> Add to cart</button>

                            </div>
                        </div>
                    </div>
                }
            }

            @* <div class="row">

            <div class="col-12 d-flex justify-content-center scrolling-product">
            <MudPagination SelectedChanged="PageChanged" BoundaryCount="1" MiddleCount="1" Count="TotalPages" />
            </div>
            </div>
            *@

            @* <div class="row">
            <div class="col-12 d-flex justify-content-center scrolling-product">
            *@
            @*   <nav>
            <ul>
            <li>
            <MudIconButton Icon="@Icons.Material.Filled.ArrowBackIos" aria-label="delete" @onclick="PreviousPage" disabled="@IsFirstPage"></MudIconButton>
            </li>

            @for (int pageNo = 1; pageNo <= TotalPages; pageNo++)
            {
            <li><a href="javascript:void(0);">@pageNo</a></li>
            }
            <li>
            <MudIconButton Icon="@Icons.Material.Filled.ArrowForwardIos" aria-label="delete" @onclick="NextPage" disabled="@IsLastPage"></MudIconButton>
            </li>
            </ul>
            </nav> *@




            @* <nav>
            <ul>
            <li><i class="fas fa-chevron-left"></i></li>
            <li><a href="javascript:void(0);">1</a></li>l
            <li><a href="javascript:void(0);">2</a></li>
            <li><a href="javascript:void(0);">3</a></li>
            <li><a href="javascript:void(0);">4</a></li>
            <li><i class="fas fa-chevron-right"></i></li>
            </ul>
            </nav> *@
        </div>

        <div class="row">
            <MudPaper Class="w-100 p-2 mt-2 mx-2 rounded-lg">
                <div class="col-12 d-flex justify-content-center scrolling-product">
                    <MudPagination SelectedChanged="PageChanged" BoundaryCount="1" MiddleCount="1" Count="TotalPages" />
                </div>

            </MudPaper>
        </div>

    </div>
</div>


