@page "/transactions"
@using AstroOfficeWeb.Services
@using AstroOfficeWeb.Shared.ViewModels;

@inject TokenWalletService TokenWallet


@* <div class="container-fluid p-3">
    <h1 class="pt-4 pb-2 font-weight-bold ">Transactions</h1>
    <section class="content"> *@
<div class="row">
    <div class="col-sm-12 col-md-12">
        <div class="chart-table table-responsive">
            <MudSimpleTable class="table">
                <thead class="p-0 bg-da-yellow">
                    <tr>
                        <th>SrNo</th>
                        <th>Action</th>
                        <th>Transaction Type</th>
                        <th>Amount</th>
                        <th>Description</th>
                        <th>Timestamp Created</th>
                    </tr>
                </thead>

                @if (TransactionTableTRs == null)
                {
                    <tbody class="overlay-wrapper data-loader">
                        <tr>
                            <td colspan="6"><div class="overlay"><i class="fas fa-2x fa-sync fa-spin"></i></div></td>
                        </tr>
                        @for (int i = 0; i < 9; i++)
                        {
                            <tr>
                                <td> - </td>
                                <td> - </td>
                                <td> - </td>
                                <td> - </td>
                                <td> - </td>
                            </tr>
                        }

                    </tbody>
                }
                else
                {
                    <tbody>
                        @if (TransactionTableTRs.Any())
                        {
                            foreach (var row in TransactionTableTRs)
                            {
                                <tr>
                                    <td>@row.SrNo</td>
                                    <td>@row.Action</td>
                                    <td>@row.TransactionType</td>
                                    <td>@row.Amount</td>
                                    <td>@row.Description</td>
                                    <td>@row.TimestampCreated</td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="6" class="text-center">No records found.</td>
                            </tr>
                        }
                    </tbody>
                }
            </MudSimpleTable>
        </div>
    </div>
</div>
@*     </section>
</div>
 *@
@code {
    private List<TransactionTableTRModel>? TransactionTableTRs;

    protected override async Task OnInitializedAsync()
    {
        TransactionTableTRs = await TokenWallet.GetTokenTransactionHistory();
    }
}