@*@page "/dashboard"*@
@page "/"
@using AstroOfficeWeb.Shared.Models;
@attribute [Authorize]
@inherits BaseComponent
@inject HttpClient HttpClient
@inject IJSRuntime JSRuntime

<FaladeshModal @ref="FaladeshModal" Falla="@htmlStringFalla" ImgSrcLagan="@imgSrcLagan" ImgSrcBhavChalit="@imgSrcBhavChalit" ConfirmationChanged="ConfirmationChangedModel" />

@* @User?.Identity?.Name *@
<div class="container-fluid p-3">
    <h1 class="py-4 font-weight-bold">Report</h1>
    <section class="content">
        <div class="row report-content mb-3">

            @* Birth Details *@
            <div class="col-md-4">
                <div class="card card-primary card-frame">
                    <div class="card-header p-0 text-center mb-2">
                        <h2 class="font-weight-bold">Birth Details</h2>
                    </div>
                    <EditForm Model="BirthDetails">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <select @onchange="OnChange_CmbSkipBad" value="@BirthDetails!.CmbSkipBad" class="form-control form-control-sm" aria-label="Selection of SkipBad">
                                        @foreach (var item in BirthDetailsLookups.SkipBadItems)
                                        {
                                            <option value="@item.Text">@item.Text</option>
                                        }
                                    </select>
                                </div>
                                <div class="col">                                  
                                    <select @onchange="OnChange_CmbTime" class="form-control form-control-sm" aria-label="Selection of Time">
                                        @foreach (var item in BirthDetailsLookups.CmbTimeItems)
                                        {
                                            <option value="@item.Text">@item.Text</option>
                                        }
                                    </select>
                                </div>
                                <div class="col-auto">
                                    <button type="button" class="btn btn-block btn-custom btn-sm" @onclick="OnClick_BtnMinus">  <i class="fa fa-minus"></i> </button>
                                </div>
                                <div class="col-2">                                  
                                    <InputNumber @bind-Value="BirthDetails.TimeValue" class="form-control form-control-sm" />
                                </div>
                                <div class="col-auto">
                                    <button type="button" class="btn btn-block btn-custom btn-sm" @onclick="OnClick_BtnPlus"> <i class="fa fa-plus"></i> </button>
                                </div>
                                <div class="col-auto">
                                    <button type="button" class="btn btn-block btn-custom btn-sm" @onclick="OnClick_BtnRefresh">Refresh</button>
                                </div>
                            </div>

                            <div class="row mt-2">
                                <div class="col-6">
                                    <div class="row">
                                        <div class="col-12">
                                            @if (IsAdmin || UserCanEdit)
                                            {
                                                <InputText @ref="inputTextName" @bind-Value="BirthDetails!.TxtName" class="form-control form-control-sm mb-2" />
                                            }
                                            else
                                            {
                                                <input value="@BirthDetails!.TxtName" class="form-control form-control-sm mb-2" readonly />
                                            }

                                            @if (CmbCountry != null)
                                            {
                                                <select @bind="BirthDetails!.CmbCountry" class="form-control form-control-sm mb-2" aria-label="Selection of brith country">
                                                    @foreach (var item in CmbCountry)
                                                    {
                                                        <option value="@item.Value">@item.Text</option>
                                                    }
                                                </select>
                                            }
                                            @if ((IsAdmin || UserCanEdit) && txtBirthPlaceEnabled)
                                            {
                                                <InputText @ref="inputTextBirthPlace" @bind-Value="BirthDetails!.TxtBirthPlace" class="form-control form-control-sm mb-2" @onkeydown="OnKeyDown_TxtBirthplace" @oninput="OnInput_TxtBirthplace" @onfocus="OnFocus_TxtBirthplace" />
                                            }
                                            else
                                            {
                                                <input value="@BirthDetails!.TxtBirthPlace" class="form-control form-control-sm mb-2" readonly />
                                            }
                                            @if (ListBirthCities != null)
                                            {
                                                <select value="@selectedBirthCityIndex" class="form-control form-control-sm mb-2" aria-label="Selection of BirthCity" size="3" @onchange="OnChange_ListBirthCities">
                                                    @for (int i = 0; i < ListBirthCities.Count; i++)
                                                    {
                                                        <option value="@i">@ListBirthCities[i].Place</option>
                                                    }
                                                </select>
                                            }

                                            <div class="row">
                                                <div class="col-6">
                                                    <div class="form-group row align-items-center mb-2">
                                                        <label for="IdLongtitude" class="col-sm-auto mb-0">Long</label>
                                                        <div class="col-sm">

                                                            <InputText @bind-Value="BirthDetails!.Longtitude" id="IdLongtitude" class="form-control form-control-sm" />
                                                        </div>
                                                    </div>
                                                    <select value="@BirthDetails!.CmbLanguage" class="form-control form-control-sm mb-2" aria-label="Selection of language" @onchange="OnChange_CmbLanguage">
                                                        @foreach (var item in BirthDetailsLookups.LanguageItems)
                                                        {
                                                            <option value="@item.Text">@item.Text</option>
                                                        }
                                                    </select>
                                                </div>
                                                <div class="col-6">
                                                    <div class="form-group row align-items-center mb-2">
                                                        <label for="IdLatitude" class="col-sm-auto mb-0">Lat</label>
                                                        <div class="col-sm">

                                                            <InputText @bind-Value="BirthDetails!.Latitude" id="IdLatitude" class="form-control form-control-sm" />
                                                        </div>
                                                    </div>
                                                    @if (IsAdmin || UserCanEdit)
                                                    {
                                                        <InputText @bind-Value="BirthDetails!.TxtTimezone" class="form-control form-control-sm mb-2" />
                                                    }
                                                    else
                                                    {
                                                        <input value="@BirthDetails!.TxtTimezone" class="form-control form-control-sm mb-2" readonly />
                                                    }
                                                </div>
                                            </div>

                                            <div class="form-check form-check-inline">
                                                <InputCheckbox id="ref" class="form-check-input" @bind-Value="BirthDetails!.ChkShowRef" />
                                                <label class="form-check-label" for="ref">Show Ref. Code</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="row">
                                        <div class="col-4 mb-2">
                                            @if (dobddEnabled)
                                            {
                                                <InputNumber @bind-Value="BirthDetails!.Dobdd" class="form-control form-control-sm" min="1" max="31" />
                                            }
                                            else
                                            {
                                                <input value="@BirthDetails!.Dobdd" class="form-control form-control-sm" readonly />
                                            }
                                        </div>
                                        <div class="col-4 mb-2">
                                            @if (dobmmEnabled)
                                            {
                                                <InputNumber @bind-Value="BirthDetails!.Dobmm" class="form-control form-control-sm" min="1" max="12" />
                                            }
                                            else
                                            {
                                                <input value="@BirthDetails!.Dobmm" class="form-control form-control-sm" readonly />
                                            }
                                        </div>
                                        <div class="col-4 mb-2">
                                            @if (dobyyEnabled)
                                            {
                                                <InputNumber @bind-Value="BirthDetails!.Dobyy" class="form-control form-control-sm" />
                                            }
                                            else
                                            {
                                                <input value="@BirthDetails!.Dobyy" class="form-control form-control-sm" readonly />
                                            }
                                        </div>
                                        <div class="col-4 mb-2">
                                            @if (tobhhEnabled)
                                            {
                                                <InputNumber @bind-Value="BirthDetails!.Tobhh" class="form-control form-control-sm" min="1" max="24" />
                                            }
                                            else
                                            {
                                                <input value="@BirthDetails!.Tobhh" class="form-control form-control-sm" readonly />
                                            }
                                        </div>
                                        <div class="col-4 mb-2">
                                            @if (tobmmEnabled)
                                            {
                                                <InputNumber @bind-Value="BirthDetails!.Tobmm" class="form-control form-control-sm" min="1" max="60" />
                                            }
                                            else
                                            {
                                                <input value="@BirthDetails!.Tobmm" class="form-control form-control-sm" readonly />
                                            }
                                        </div>
                                        <div class="col-4 mb-2">
                                            @if (tobssEnabled)
                                            {
                                                <InputNumber @bind-Value="BirthDetails!.Tobss" class="form-control form-control-sm" min="0" max="60" />
                                            }
                                            else
                                            {
                                                <input value="@BirthDetails!.Tobss" class="form-control form-control-sm" readonly />
                                            }
                                        </div>
                                        <div class="col-12">

                                            <fieldset>
                                                @* <legend class="w-auto small mb-0">Options</legend> *@
                                                <div class="row mb-2">
                                                    <InputRadioGroup Name="Gender" @bind-Value="BirthDetails!.Gender">

                                                        <div class="col">
                                                            <div class="form-check">
                                                                <InputRadio Value="Gender.Male" class="form-check-input" id="RbMale" />
                                                                <label class="form-check-label" for="RbMale">
                                                                    Male
                                                                </label>
                                                            </div>
                                                        </div>

                                                        <div class="col">
                                                            <div class="form-check">
                                                                <InputRadio Value="Gender.Female" class="form-check-input" id="RbFemale" />
                                                                <label class="form-check-label" for="RbFemale">
                                                                    Female
                                                                </label>
                                                            </div>
                                                        </div>

                                                        <div class="col-3">
                                                            <button type="button" class="btn btn-custom"> ✓ </button>
                                                        </div>


                                                    </InputRadioGroup>
                                                </div>


                                                <div class="row">
                                                    <div class="col-6 mb-2">

                                                        <select @onchange="OnChange_CmbCategory" value="@BirthDetails!.CmbCategory" class="form-control form-control-sm">
                                                            @foreach (var item in BirthDetailsLookups.BirthCategoryItems)
                                                            {
                                                                <option value="@item.Text">@item.Text</option>
                                                            }
                                                        </select>

                                                    </div>
                                                    <div class="col-6 mb-2">
                                                        @* <InputSelect @bind-Value="BirthDetails!.CmbAyanansh" class="form-control form-control-sm" aria-label="Default select example"> *@
                                                        <select @onchange="OnChange_CmbAyanansh" class="form-control form-control-sm" aria-label="Selection of ayanansh">
                                                            @foreach (var item in BirthDetailsLookups.CmbAyananshItems)
                                                            {
                                                                <option value="@item.Text">@item.Text</option>
                                                            }
                                                        </select>
                                                    </div>
                                                    <div class="col-12 mb-2">
                                                        <select @oninput="OnChange_CmbRotate" class="form-control form-control-sm">
                                                            @foreach (var item in BirthDetailsLookups.CmbRotateItems)
                                                            {
                                                                <option value="@item.Text">@item.Text</option>
                                                            }
                                                        </select>
                                                    </div>
                                                    <div class="col-12 mb-2">
                                                        <div class="form-check">
                                                            <InputCheckbox id="ChkSahasane" class="form-check-input" @bind-Value="BirthDetails!.ChkSahasaneLogic" />
                                                            <label class="form-check-label" for="ChkSahasane">Sahasane Logic</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-12 mb-2">
                                                        <div class="form-check">
                                                            <InputCheckbox id="ChkSalachakkar" class="form-check-input" @bind-Value="BirthDetails!.SalaChakkar" />
                                                            <label class="form-check-label" for="ChkSalachakkar">35 Sala Chakkar</label>
                                                        </div>
                                                    </div>

                                                    <div class="col-12 mb-2">
                                                        <div class="form-check">
                                                            <InputCheckbox id="ChkMfal" class="form-check-input" @bind-Value="BirthDetails!.ChkMfal" />
                                                            <label class="form-check-label" for="ChkMfal">Mfal</label>
                                                        </div>
                                                    </div>
                                                    @*  <div class="col">
                                                    <InputTextArea class="form-control mt-2" rows="4" Placeholder="Enter ..." @bind-Value="BirthDetails!.Brief" />
                                                    </div> *@
                                                </div>
                                            </fieldset>
                                        </div>
                                    </div>
                                    <div class="row justify-content-end mt-2">


                                        <div class="col-auto">
                                            <button class="btn btn-block btn-custom btn-sm" @onclick="OnClick_BtnFaladesh"> Faladesh </button>
                                        </div>

                                        <div class="col-auto">
                                            <button class="btn btn-block btn-custom btn-sm" @onclick="OnClick_BtnChart"> Chart </button>
                                        </div>

                                    </div>
                                </div>

                            </div>


                        </div>
                    </EditForm>
                </div>
            </div>

            @* Kundali Table *@
            <div class="col-md-4">
                <div class="card card-success card-frame">
                    <div class="card-header p-0 text-center mb-2">
                        <h2 class="font-weight-bold">Kundali Table</h2>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <table class="table table-sm table-hover">

                                    <thead class="p-0">
                                        <tr>
                                            <th>Desk</th>
                                            <th>Value</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        @foreach (var row in ListView_Ruling_Planet ?? new List<KundaliTableTRModel>())
                                        {
                                            <tr>
                                                <td>@row.Item</td>
                                                <td>@row.SubItem</td>
                                            </tr>
                                        }
                                    </tbody>

                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            @* Kundali *@
            <div class="col-md-4">
                <div class="card card-primary card-frame">
                    <div class="card-header p-0 text-center mb-2">
                        <h2 class="font-weight-bold">Kundali</h2>
                    </div>

                    <EditForm Model="BirthDetails">
                        <div class="card-body">

                            <div class="row">
                                <div class="col">
                                    <button type="button" class="btn btn-block btn-custom btn-sm" title="Bhav Chalit" @onclick="OnClick_BhavChalit"> Bhav </button>
                                </div>
                                <div class="col">
                                    <button type="button" class="btn btn-block btn-custom btn-sm" title="Lagan" @onclick="OnClick_Lagan"> Lagan </button>
                                </div>
                                <div class="col">
                                    <button type="button" class="btn btn-block btn-custom btn-sm" title="Chandra" @onclick="OnClick_Chandra"> Chandra </button>
                                </div>
                                <div class="col">
                                    <button type="button" class="btn btn-block btn-custom btn-sm" title="Gochar" @onclick="OnClick_Gochar"> Gochar </button>
                                </div>
                                <div class="col">
                                    <button type="button" class="btn btn-block btn-custom btn-smbtn btn-block btn-custom btn-sm" title="Varsh" @onclick="OnClick_Varsh"> Varsh </button>
                                </div>
                            </div>

                            <div class="row justify-content-end mt-2">
                                <div class="col-2">
                                    @if (isNumVarshVisible)
                                    {
                                        <InputNumber  id="1" @bind-Value="BirthDetails.KundaliUdvYear" class="form-control form-control-sm" min="1" max="120" />
                                    }
                                    else
                                    {

                                        <InputNumber @bind-Value="BirthDetails.KundaliUdvYear" class="form-control form-control-sm" style="opacity:0" min="1" max="120" />
                                    }
                                </div>
                            </div>

                            @if (!string.IsNullOrEmpty(imgSrc))
                            {
                                <div class="row mt-2">
                                    <div class="col-12 text-center">
                                        <img src="@imgSrc" alt="" class="w-100" />
                                    </div>
                                </div>
                            }

                        </div>
                    </EditForm>
                </div>
            </div>
        </div>

        <div class="row mt-5 pt-2">
            <div class="col">
                <div class="card card-tabs">
                    <div class="card-header pb-0">
                        <ul class="nav nav-tabs" id="birthdetails-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="birthdetails-tabs-charts-tab" data-toggle="pill" href="#birthdetails-tabs-charts" role="tab" aria-controls="birthdetails-tabs-charts" aria-selected="true"> Charts </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="birthdetails-tabs-mahadasha-tab" data-toggle="pill" href="#birthdetails-tabs-mahadasha" role="tab" aria-controls="birthdetails-tabs-mahadasha" aria-selected="false"> Mahadasha </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="birthdetails-tabs-date-finder-tab" data-toggle="pill" href="#birthdetails-tabs-date-finder" role="tab" aria-controls="birthdetails-tabs-date-finder" aria-selected="false"> Date Finder </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link " id="birthdetails-tabs-best-kundali-dates-tab" data-toggle="pill" href="#birthdetails-tabs-best-kundali-dates" role="tab" aria-controls="birthdetails-tabs-best-kundali-dates" aria-selected="false"> Best Kundali Dates </a>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body">
                        <div class="tab-content" id="birthdetails-tabs-tabContent">
                            @* Charts *@
                            <div class="tab-pane fade active show" id="birthdetails-tabs-charts" role="tabpanel" aria-labelledby="birthdetails-tabs-charts-tab">
                                <div class="row">
                                    <div class="col-sm-7">
                                       <div class="chart-table table-responsive">
                                            <table class="table">

                                                <thead class="p-0 background-divya-astro-color-yellow">
                                                    <tr>
                                                        <th>House</th>
                                                        <th>RL-NL-SL-SSL</th>
                                                        <th>Nak Signi</th>
                                                        <th>Sub Signi</th>
                                                    </tr>
                                                </thead>

                                                <tbody>
                                                    @foreach (var row in ListView_House ?? new List<ChartHouseTableTRModel>())
                                                    {
                                                        <tr class="@row.ForeColor" @ondblclick="()=> OnDblClick_TR_ListView_House(row)">
                                                            <td>@row.House</td>
                                                            <td>@row.RL_NL_SL_SSL</td>
                                                            <td>@row.NakSigni</td>
                                                            <td>@row.SubSigni</td>
                                                        </tr>
                                                    }
                                                </tbody>

                                            </table>
                                       </div>
                                    </div>

                                    <div class="col-sm-5">

                                        <div class="chart-table table-responsive">
                                            <table class="table">
                                            <thead class="p-0 background-divya-astro-color-yellow">
                                                <tr>
                                                    <th>Planet</th>
                                                    <th>RL-NL-SL-SSL</th>
                                                    <th>Significators</th>
                                                </tr>
                                            </thead>

                                            <tbody>
                                                @foreach (var row in ListView_Planet ?? new List<ChartPlanetTableTRModel>())
                                                {

                                                    <tr title="@row.ToolTipText" class="@row.ForeColor">
                                                        <td>@row.Planet</td>
                                                        <td>@row.RL_NL_SL_SSL</td>
                                                        <td>@row.Significators</td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                    </div>
                                </div>
                            </div>

                            @* Mahadasha *@
                            <div class="tab-pane fade" id="birthdetails-tabs-mahadasha" role="tabpanel" aria-labelledby="birthdetails-tabs-mahadasha-tab">

                                <div class="row">
                                    <div class="col-3 mb-3">
                                        <div class="mahadasha-name"><h5 class="font-weight-bold mb-0">महादशा </h5><label class="mt-3 d-block"> @(new MarkupString(LblMahadasha)) </label></div>
                                    </div>
                                    <div class="col-3 mb-3">
                                        <div class="mahadasha-name"><h5 class="font-weight-bold mb-0">अन्तर्दशा </h5><label class="mt-3 d-block"> @(new MarkupString(LblAntar)) </label></div>
                                    </div>
                                    <div class="col-3 mb-3">
                                        <div class="mahadasha-name"><h5 class="font-weight-bold mb-0">प्र्यंतरदशा </h5><label class="mt-3 d-block"> @(new MarkupString(LblParyan)) </label></div>
                                       
                                    </div> 
                                    <div class="col-3 mb-3">
                                        <div class="mahadasha-name"><h5 class="font-weight-bold mb-0">सुक्ष्मदशा </h5><label class="mt-3 d-block"> @(new MarkupString(LblSukhsmadasha)) </label></div>
                                    </div>
                                </div>

                                <div class="row mt-2">
                                    <div class="col-6 col-xl-3">
                                        <div class="card mb-0">
                                           
                                                <div class="chart-table table-responsive">
                                                <h4 class="text-center font-weight-bold">महादशा</h4>
                                                <table class="table">

                                                        <thead class="p-0 background-divya-astro-color-yellow">
                                                        <tr>
                                                            <th>Planet</th>
                                                            <th>Period</th>
                                                            <th>Signi(Self/Nak)</th>
                                                        </tr>
                                                    </thead>

                                                    <tbody>
                                                        @foreach (var row in ListView_Mahadasha ?? new List<MahadashaTableTRModel>())
                                                        {
                                                            <tr @onclick="()=>OnClick_TR_ListView_Mahadasha(row)" @ondblclick="() => OnDblClick_TR_ListView_Mahadasha(row)">
                                                                <td>@row.Planet</td>
                                                                <td>@row.Period</td>
                                                                <td>@row.Signi</td>
                                                            </tr>
                                                        }
                                                    </tbody>

                                                </table>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-6 col-xl-3">
                                        <div class="card mb-0">                                         


                                                <div class="chart-table table-responsive">
                                                    <h4 class="text-center font-weight-bold">अन्तर्दशा</h4>
                                                <table class="table">
                                                    @if (!BirthDetails.SalaChakkar)
                                                        {
                                                            <thead class="p-0 background-divya-astro-color-yellow">
                                                            <tr>
                                                                <th>Planet</th>
                                                                <th>Period</th>
                                                                <th>Signi(Self/Nak)</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @foreach (var row in ListView_Antardasha ?? new List<AntardashaTableTRModel>())
                                                            {
                                                                <tr @onclick="()=> OnClick_TR_ListView_Antardasha(row)" @ondblclick="()=> OnDblClick_TR_ListView_Antardasha(row)">
                                                                    <td>@row.Planet</td>
                                                                    <td>@row.Period</td>
                                                                    <td>@row.Signi</td>
                                                                </tr>
                                                            }
                                                        </tbody>
                                                    }
                                                    else
                                                        {
                                                            <thead class="p-0 background-divya-astro-color-yellow">
                                                            <tr>
                                                                <th>Planet</th>
                                                                <th>Antar</th>
                                                                <th>Period</th>
                                                                <th>Age</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @foreach (var row in ListView_Years35 ?? new List<Years35TableTRModel>())
                                                            {
                                                                <tr @ondblclick="()=> OnDblClick_TR_ListView_Years35(row)">
                                                                    <td>@row.Planet</td>
                                                                    <td>@row.Antar</td>
                                                                    <td>@row.Period</td>
                                                                    <td>@row.Age</td>
                                                                </tr>
                                                            }
                                                        </tbody>
                                                    }
                                                </table>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-6 col-xl-3">
                                        @if (!BirthDetails.SalaChakkar)
                                        {
                                            <div class="card mb-0">
                                                <div class="chart-table table-responsive">
                                                        <h4 class="text-center font-weight-bold">प्र्यंतरदशा</h4>
                                                        <table class="table">
                                                            <thead class="p-0 background-divya-astro-color-yellow">
                                                            <tr>
                                                                <th>Planet</th>
                                                                <th>Period</th>
                                                                <th>Signi(Self/Nak)</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @foreach (var row in ListView_Prayantardasha ?? new List<PrayantardashaTableTRModel>())
                                                            {
                                                                <tr @onclick="()=> OnClick_TR_ListView_Prayantardasha(row)" @ondblclick="()=> OnDblClick_TR_ListView_Prayantardasha(row)">
                                                                    <td>@row.Planet</td>
                                                                    <td>@row.Period</td>
                                                                    <td>@row.Signi</td>
                                                                </tr>
                                                            }
                                                        </tbody>
                                                    </table>

                                                </div>
                                            </div>
                                        }
                                    </div>

                                    <div class="col-6 col-xl-3">
                                        @if (!BirthDetails.SalaChakkar)
                                        {
                                            <div class="card mb-0">
                                                <div class="chart-table table-responsive">
                                                        <h4 class="text-center font-weight-bold">सुक्ष्मदशा</h4>
                                                        <table class="table">
                                                            <thead class="p-0 background-divya-astro-color-yellow">
                                                            <tr>
                                                                <th>Planet</th>
                                                                <th>Period</th>
                                                                <th>Signi(Self/Nak)</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @foreach (var row in ListView_Sukhsmadasha ?? new List<SukhsmadashaTableTRModel>())
                                                            {
                                                                <tr @onclick="()=> OnClick_TR_ListView_Sukhsmadasha(row)" @ondblclick="()=> OnDblClick_TR_ListView_Sukhsmadasha(row)">
                                                                    <td>@row.Planet</td>
                                                                    <td>@row.Period</td>
                                                                    <td>@row.Signi</td>
                                                                </tr>
                                                            }
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>

                            @* Date Finder *@
                            <div class="tab-pane fade" id="birthdetails-tabs-date-finder" role="tabpanel" aria-labelledby="birthdetails-tabs-date-finder-tab">
                                <div class="row">
                                    <div class="col-4">
                                        <div class="date-finder">
                                            <EditForm Model="DateFinder">
                                                <div class="row mt-2">
                                                    <div class="col">
                                                        <div class="d-flex justify-content-between">
                                                            <label> Choose Occassion</label>

                                                            <div class="input-group occasion-selection">


                                                                <input class="form-control" type="text" name="product" @bind="DateFinder!.Occassion" list="productName" />
                                                                <div class="input-group-append">
                                                                    <InputSelect @bind-Value="DateFinder!.Occassion" class="form-control custom-select" aria-label="Section of Occassion">
                                                                        @foreach (var item in DateFinder.OccassionList)
                                                                        {
                                                                            <option value="@item.Text">@item.Text</option>
                                                                        }
                                                                    </InputSelect>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row mt-2">
                                                    <div class="col">
                                                        <div class="d-flex justify-content-between">
                                                            <div class="form-check">
                                                                <InputCheckbox id="sahasane" class="form-check-input" @bind-Value="DateFinder!.Sahasane" />
                                                                <label class="form-check-label" for="sahasane">Sahasane</label>
                                                            </div>
                                                            <div class="form-check">
                                                                <InputCheckbox id="fullMatch" class="form-check-input" @bind-Value="DateFinder!.FullMatch" />
                                                                <label class="form-check-label" for="fullMatch">Full match</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row mt-3">
                                                    <div class="col">
                                                            <h6 class="font-weight-bold">Choose Period</h6>
                                                            <div class="row">
                                                                <InputRadioGroup Name="DateFinderChoosePeriod" @bind-Value="DateFinder!.Period">

                                                                    <div class="col">
                                                                        <div class="form-check">
                                                                            <InputRadio Value="Period.Maha" class="form-check-input" id="rbMaha" />
                                                                            <label class="form-check-label" for="rbMaha">
                                                                                Maha
                                                                            </label>
                                                                        </div>
                                                                    </div>

                                                                    <div class="col">
                                                                        <div class="form-check">
                                                                            <InputRadio Value="Period.Antar" class="form-check-input" id="rbAntar" />
                                                                            <label class="form-check-label" for="rbAntar">
                                                                                Antar
                                                                            </label>
                                                                        </div>
                                                                    </div>

                                                                    <div class="col">
                                                                        <div class="form-check">
                                                                            <InputRadio Value="Period.Pryan" class="form-check-input" id="rbPryan" />
                                                                            <label class="form-check-label" for="rbPryan">
                                                                                Pryan
                                                                            </label>
                                                                        </div>
                                                                    </div>
                                                                </InputRadioGroup>
                                                            </div>
                                                    </div>
                                                </div>

                                                <div class="row mt-2">
                                                    <div class="col">
                                                            <div class="row">
                                                                <InputRadioGroup Name="DateFinderDashaRadioButtons" @bind-Value="DateFinder!.Dasha">
                                                                    <div class="col">
                                                                        <div class="form-check">
                                                                            <InputRadio Value="Dasha.Dasha" class="form-check-input" id="rbDasha" />
                                                                            <label class="form-check-label" for="rbDasha">
                                                                                Dasha
                                                                            </label>
                                                                        </div>
                                                                    </div>

                                                                    <div class="col">
                                                                        <div class="form-check">
                                                                            <InputRadio Value="Dasha.NakSwami" class="form-check-input" id="rbNakswami" />
                                                                            <label class="form-check-label" for="rbNakswami">
                                                                                Nak Swami
                                                                            </label>
                                                                        </div>
                                                                    </div>

                                                                    <div class="col">
                                                                        <div class="form-check">
                                                                            <InputRadio Value="Dasha.Both" class="form-check-input" id="rbForBoth" />
                                                                            <label class="form-check-label" for="rbForBoth">
                                                                                Both
                                                                            </label>
                                                                        </div>
                                                                    </div>
                                                                </InputRadioGroup>
                                                            </div>
                                                    </div>
                                                </div>

                                                <div class="row mt-3">
                                                    <div class="col">
                                                        <div class="d-flex flex-row-reverse">
                                                            <button type="button" class="btn btn-custom" @onclick="OnClick_BtnShow_TabDateFinder">Show</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </EditForm>
                                        </div>
                                    </div>

                                    <div class="col-8">
                                        <div class="date-finder">
                                            <EditForm Model="DateFinder">
                                            <InputTextArea class="form-control" rows="13" Placeholder="Date Lists ..." @bind-Value="DateFinder.DateList" />
                                        </EditForm>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            @* Best Kundali Dates *@
                            <div class="tab-pane fade " id="birthdetails-tabs-best-kundali-dates" role="tabpanel" aria-labelledby="birthdetails-tabs-best-kundali-dates-tab">
                                <div class="row">
                                    <div class="col-4">

                                        <div class="date-finder">
                                        <EditForm Model="BestKundaliDates">
                                            <div class="row">
                                                <div class="col">
                                                        <div class="row align-items-end mt-2">
                                                            <div class="col-12">
                                                                <h6 class="font-weight-bold">Starting Date and Time</h6>
                                                            </div>
                                                            <div class="col">
                                                                <div>
                                                                    <InputDate @bind-Value="BestKundaliDates.Pick_start_date" class="form-control" style="border: 1px solid #ccc; padding: 2px; height: 30px;" />
                                                                </div>
                                                            </div>
                                                            <div class="col">
                                                                <div>
                                                                    <input type="time" @bind="BestKundaliDates.StartingTime" class="form-control" step="1" style="border: 1px solid #ccc; padding: 2px; height: 30px;" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                </div>
                                            </div>
                                            <div class="row mt-2">
                                                <div class="col">
                                                        <div class="row align-items-end mt-2">
                                                            <div class="col-12">

                                                                    <h6 class="font-weight-bold">Ending Date and Time</h6>
                                                            </div>
                                                            <div class="col">
                                                                <div>
                                                                    <InputDate @bind-Value="BestKundaliDates.Pick_end_date" class="form-control" style="border: 1px solid #ccc; padding: 2px; height: 30px;" />
                                                                </div>
                                                            </div>
                                                            <div class="col">
                                                                <div>
                                                                    <input type="time" @bind="BestKundaliDates.EndingTime" class="form-control" step="1" style="border: 1px solid #ccc; padding: 2px; height: 30px;" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                </div>
                                            </div>
                                            <div class="row mt-3">
                                                <div class="col">
                                                    <div class="d-flex justify-content-between align-items-center">
                                                        <label class="text-nowrap mr-3">Choose Rating</label>
                                                        <InputSelect @bind-Value="BestKundaliDates.Comborating" class="form-control custom-select" aria-label="Selecttion of rating">

                                                            @foreach (var item in BestKundaliDates.ComboratingSelect)
                                                            {
                                                                <option value="@item.Text">@item.Text</option>
                                                            }
                                                        </InputSelect>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row mt-2 d-flex justify-content-between">
                                                <InputRadioGroup Name="KundaliDatesRadio" @bind-Value="BestKundaliDates!.KundaliDatesRadio">
                                                    <div class="col">
                                                        <div class="form-check">
                                                            <InputRadio Value="KundaliDatesRadio.Kp" class="form-check-input" id="rbKp" />
                                                            <label class="form-check-label" for="rbKp">
                                                                KP
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="col">
                                                        <div class="form-check">
                                                            <InputRadio Value="KundaliDatesRadio.RedBook" class="form-check-input" id="rbRedBook" />
                                                            <label class="form-check-label" for="rbRedBook">
                                                                Red Book
                                                            </label>
                                                        </div>
                                                    </div>
                                                </InputRadioGroup>
                                            </div>
                                            <div class="row align-items-center">

                                                <div class="col">
                                                        <label class="mb-0">
                                                            @BestKundaliDates.countProcess
                                                        </label>
                                                </div>

                                                <div class="col">

                                                    <div class="d-flex flex-row-reverse">
                                                        <button type="button" class="btn btn-custom" @onclick="OnClick_BtnShow_TabKundaliDates">Show</button>
                                                    </div>
                                                </div>
                                            </div>

                                        </EditForm>
                                        </div>
                                    </div>

                                    <div class="col-8">

                                        <div class="date-finder">
                                        <EditForm Model="BestKundaliDates">
                                            <InputTextArea class="form-control" rows="13" Placeholder="Best Dates..." @bind-Value="BestKundaliDates.BestDate" />
                                        </EditForm>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

