@page "/token-recharge"

<div class="container-fluid p-3">
    <h1 class="pt-4 pb-2 font-weight-bold ">Recharge Token</h1>
    <section class="content">
        <div class="card card-primary">
            <div class="card-header bg-da-dark-red">
                <h3 class="card-title">Add Token</h3>
            </div>

            <form>
                <div class="card-body">
                    <div class="form-group">
                        <label for="inputEmail">Email address Or User Name</label>
                        <input type="text" class="form-control" id="inputEmail" disabled />
                    </div>

                    <div class="form-group">
                        <label for="inputToken">Token(s)</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fa fa-circle" aria-hidden="true"></i>
                                </span>
                            </div>
                            <input type="text" class="form-control" id="inputToken" @bind="TokenAmount" @bind:event="oninput" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="inputAmount">Amount(s)</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fas fa-rupee-sign"></i>
                                </span>
                            </div>
                            <input type="text" class="form-control" id="inputAmount" disabled @bind="TokenAmount" />
                            <div class="input-group-append">
                                <span class="input-group-text">.00</span>
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col">
                            <button type="button" class="btn btn-block btn-outline-custom" @onclick="()=> TokenAmount += 100">100</button>
                        </div>
                        <div class="col">
                            <button type="button" class="btn btn-block btn-outline-custom" @onclick="()=> TokenAmount += 200">200</button>
                        </div>
                        <div class="col">
                            <button type="button" class="btn btn-block btn-outline-custom" @onclick="()=> TokenAmount += 500">500</button>
                        </div>
                        <div class="col">
                            <button type="button" class="btn btn-block btn-outline-custom" @onclick="()=> TokenAmount += 1000">1000</button>
                        </div>
                    </div>

                    <div class="card-footer">
                        <button type="submit" class="btn btn-custom">Recharge</button>
                    </div>
                </div>
            </form>

            <div class="card-header bg-da-dark-red">
                <h3 class="card-title">
                    Recharge Token Transactions
                </h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-12 col-md-12">
                        <div class="chart-table table-responsive">
                            <table class="table">
                                <thead class="p-0 bg-da-yellow">
                                    <tr>
                                        <th>ID</th>
                                        <th>UserSNO</th>
                                        <th>Payment Amount</th>
                                        <th>Transaction Status ID</th>
                                        <th>Payment Date</th>
                                        <th>CC Avenue Response</th>
                                        <th>Timestamp Created</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (TokenRechargeTableTRs != null)
                                    {
                                        foreach (var row in TokenRechargeTableTRs)
                                        {
                                            <tr>
                                                <td>@row.ID</td>
                                                <td>@row.UserSNO</td>
                                                <td>@row.PaymentAmount</td>
                                                <td>@row.TransactionStatusID</td>
                                                <td>@row.PaymentDate</td>
                                                <td>@row.CCAvenueResponse</td>
                                                <td>@row.TimestampCreated</td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

@code {
    private int TokenAmount = 10;

    private List<TokenRechargeTableTRModel> TokenRechargeTableTRs = new List<TokenRechargeTableTRModel>        {
        new TokenRechargeTableTRModel
        {
            ID = 1,
            UserSNO = "A_UserSNO_1",
            PaymentAmount = 100.00m,
            TransactionStatusID = 1,
            PaymentDate = DateTime.Parse("2023-10-27"),
            CCAvenueResponse = "Success",
            TimestampCreated = DateTime.Parse("2023-10-27 10:00:00")
        },
        new TokenRechargeTableTRModel
        {
            ID = 2,
            UserSNO = "A_UserSNO_2",
            PaymentAmount = 50.00m,
            TransactionStatusID = 2,
            PaymentDate = DateTime.Parse("2023-10-28"),
            CCAvenueResponse = "Pending",
            TimestampCreated = DateTime.Parse("2023-10-28 14:30:00")
        },
        new TokenRechargeTableTRModel
        {
            ID = 3,
            UserSNO = "A_UserSNO_3",
            PaymentAmount = 75.00m,
            TransactionStatusID = 1,
            PaymentDate = DateTime.Parse("2023-10-29"),
            CCAvenueResponse = "Failure",
            TimestampCreated = DateTime.Parse("2023-10-29 09:15:00")
        }
    };
}



