@page "/manage-categories"
@using AstroOfficeWeb.Client.Services
@using AstroShared.DTOs

@inject ProductService ProductService
@inject NavigationManager NavigationManager
@inject StateContainerService StateContainerService
@inject IDialogService DialogService

<ContainerFluid HeaderTitle="Manage Orders">
    <Header>
        @* <button @onclick="Onclick_AddMetaData" class="btn btn-custom">Add Category</button> *@
        <MudButton OnClick="Onclick_AddMetaData" Class="btn-custom">Add Category</MudButton>


    </Header>
    <ChildContent>
        @if (OrderDTOs == null)
        {
            for (int row = 0; row < 10; row++)
            {
                <MudSkeleton />
            }
        }
        else
        {
            <MudDataGrid T="CategoryDialoge" Items="@CategoryList" SortMode="SortMode.Multiple" Filterable="true" >
                <ToolBarContent>
                    <MudTextField Placeholder="Search" Adornment="Adornment.Start" Immediate="true"
                                  AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
                </ToolBarContent>
                <Columns>

                    <PropertyColumn Property="x => x.Title" Title="Title" />
                    <PropertyColumn Property="x=> x.Slug" Title="Slug">
                        <CellTemplate>
                            <img class="img-thumbnail" src="@CategoryImages(context.Item.FileUpload)" height="50" width="50"  />
                        </CellTemplate>
                    </PropertyColumn>
                    <PropertyColumn Property="x => x.Description" Title="Description" />
                    @* <TemplateColumn Filterable="false" Sortable="false" CellClass="mud-table-cell">
                        <CellTemplate>
                            <MudIconButton Size="@Size.Small" Icon="@Icons.Material.Outlined.RemoveRedEye" OnClick="(()=> OnClick_BtnShow(context.Item))" />
                            <MudIconButton Size="@Size.Small" Icon="@Icons.Material.Outlined.Edit" OnClick="(()=> OnClick_BtnEdit(context.Item))" />
                            <MudIconButton Size="@Size.Small" Icon="@Icons.Material.Outlined.Delete" OnClick="(()=> OnClick_BtnDelete(context.Item))" />
                        </CellTemplate>
                    </TemplateColumn> *@
                </Columns>
                <PagerContent>
                    <MudDataGridPager T="ViewProductDTO" />
                </PagerContent>
            </MudDataGrid>
        }
    </ChildContent>
</ContainerFluid>


