@inherits BaseComponent

@inject HttpClient HttpClient
@inject IJSRuntime JSRuntime
@inject ISnackbar Snackbar

@inject BestBLLService BestBLL
@inject KPBLLService KPBLL
@inject KPDAOService KPDAO
@inject KundliBLLService KundliBLL
@inject PredictionBLLService PredictionBLL
@inject KundaliHistroyService KundaliHistroy
@inject TokenWalletService TokenWallet
@inject ISwaggerApiService Swagger
@inject IDialogService DialogService



<div class="row g-2">

    @* Birth Details *@
    <div class="col-xl-12">
        <div class="card border-img bg-custom">
            <div class="card-header bg-transparent">

                <div class="d-flex justify-content-between">
                    <h3 class="fw-bold">Birth Details</h3>
                    <button class="btn btn-custom " type="button" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Refresh Kundali" @onclick="OnClick_BtnRefresh">Refresh</button>
                </div>

            </div>
            <div class="card-body">
                <EditForm Model="BirthDetails">
                    <div class="row row-cols-sm-3 gy-2">
                        <!-- TxtName InputText -->
                        <div class="col-12 col-md-6">
                            @if (IsAdmin || UserCanEdit)
                            {
                                <InputText @bind-Value="BirthDetails!.TxtName" class="form-control form-control-sm" />
                            }
                            else
                            {
                                <input value="@BirthDetails!.TxtName" class="form-control form-control-sm" readonly />
                            }
                            @* <MudTextField class="form-control form-control-sm mb-2" @bind-Value="@BirthDetails!.TxtName" Variant="Variant.Outlined" Margin="Margin.Dense" Disabled="(IsAdmin || UserCanEdit) is false" /> *@
                            @* <input type="text" class="form-control form-control-sm" placeholder="Name" title="Name" /> *@
                        </div>

                        <!-- Gender InputRadioGroup -->

                        <InputRadioGroup Name="Gender" @bind-Value="BirthDetails!.Gender">
                            <div class="col-12 col-md-6">
                                <div class="d-flex">
                                    <div class="flex-grow-1">
                                        <label class="form-label" for="RbFemale">Gender :</label>
                                    </div>

                                    <div class="form-check form-check-inline">
                                        <InputRadio Value="Gender.Male" class="form-check-input" id="RbMale" />
                                        <label class="form-check-label" for="RbMale">Male</label>
                                    </div>


                                    <div class="form-check form-check-inline">
                                        <InputRadio Value="Gender.Female" class="form-check-input" id="RbFemale" />
                                        <label class="form-check-label" for="RbFemale">Female</label>
                                    </div>

                                </div>
                            </div>
                        </InputRadioGroup>




                        <!-- Date of Birth Input -->
                        <div class="col-12 col-md-3">
                            @if (inputBirthDateEnabled)
                            {
                                @* <input type="date" class="form-control form-control-sm" @onchange="OnChange_BrithDate" value="1999-09-20" title="Date of Birth" max="9999-12-31" /> *@
                                <input type="date" class="form-control form-control-sm" title="Date of Birth" max="9999-12-31" @onchange="OnChange_BrithDate" value="@BirthDetails.DateOfBirth.ToString(format: "yyyy-MM-dd")" />
                            }
                            else
                            {
                                <input type="date" class="form-control form-control-sm" title="Date of Birth" max="9999-12-31" value="@BirthDetails.DateOfBirth.ToString(format: "yyyy-MM-dd")" disabled />
                            }
                        </div>

                        <!-- Hour Select -->
                        <div class="col-4 col-md-3">
                            @if (tobhhEnabled)
                            {
                                @* <input @bind="inputHour" class="form-control form-control-sm" min="1" max="24" @onfocusout="OnFocusOut_InputBrithDate" title="Hour" /> *@

                                <select class="form-select form-select-sm" title="Hour" value="@BirthDetails!.Tobhh" @onchange="OnChange_Hour">
                                    @for (int hour = 0; hour <= 23; hour++)
                                    {
                                        <option value="@hour">@hour.ToString("D2")</option>
                                    }
                                </select>
                            }
                            else
                            {
                                <input class="form-control form-control-sm" value="@BirthDetails!.Tobhh.ToString("D2")" title="Hour" readonly />
                            }

                        </div>

                        <!-- Minute Select -->
                        <div class="col-4 col-md-3">

                            @if (tobmmEnabled)
                            {
                                @* <input @bind="inputMinute" class="form-control form-control-sm" min="1" max="60" @onfocusout="OnFocusOut_InputBrithDate" title="Minute" /> *@

                                <select class="form-select form-select-sm" title="Minute" value="@BirthDetails!.Tobmm" @onchange="OnChange_Minute">
                                    @for (int minute = 0; minute <= 59; minute++)
                                    {
                                        <option value="@minute">@minute.ToString("D2")</option>
                                    }
                                </select>

                            }
                            else
                            {
                                <input class="form-select form-select-sm" title="Minute" value="@BirthDetails!.Tobmm.ToString("D2")" readonly />
                            }
                        </div>

                        <!-- Second Select -->
                        <div class="col-4 col-md-3">

                            @if (tobssEnabled)
                            {
                                @* <input @bind="inputSecond" class="form-control form-control-sm" min="0" max="60" @onfocusout="OnFocusOut_InputBrithDate" title="Second" /> *@

                                <select class="form-select form-select-sm" title="Second" value="@BirthDetails!.Tobss" @onchange="OnChange_Second">
                                    @for (int second = 0; second <= 59; second++)
                                    {
                                        <option value="@second">@second.ToString("D2")</option>
                                    }
                                </select>

                            }
                            else
                            {
                                <input class="form-select form-select-sm" title="Second" value="@BirthDetails!.Tobss.ToString("D2")" readonly />
                            }
                        </div>

                        <!-- SkipBad Select -->
                        <div class="col-6 col-md-4">
                            <select class="form-select form-select-sm" aria-label="Select SkipBad " title="Skip Bad" @onchange="OnChange_CmbSkipBad" value="@BirthDetails!.CmbSkipBad">
                                @foreach (var item in BirthDetailsLookups.SkipBadItems)
                                {
                                    <option value="@item.Text">@item.Text</option>
                                }
                            </select>
                        </div>

                        <!-- CmbTime Select -->
                        <div class="col-6 col-md-4">
                            <select class="form-select form-select-sm" aria-label="Select Time" title="Time" @onchange="OnChange_CmbTime" value="@BirthDetails!.CmbTime">
                                @foreach (var item in BirthDetailsLookups.CmbTimeItems)
                                {
                                    <option value="@item.Text.ToLower()">@item.Text</option>
                                }
                            </select>
                        </div>

                        <div class="col-12 col-md-4">
                            <div class="input-group mb-3">
                                <button class="btn btn-sm btn-custom" type="button" title="Subtract from Brith Date or Time" @onclick="OnClick_BtnMinus"><i class="fa fa-minus"></i> </button>
                                <InputNumber class="form-control form-control-sm" type="text" title="Enter number to modify date" placeholder="" aria-label="Enter number to modify date" aria-describedby="Enter number to modify date" @bind-Value="BirthDetails.TimeValue" />
                                <button class="btn btn-sm btn-custom" type="button" title="Add to Birth Date or Time" @onclick="OnClick_BtnPlus"><i class="fa fa-plus"></i></button>
                            </div>
                        </div>
                    </div>

                    <div class="row gy-2">
                        <div class="col-12 col-md-6">

                            <!-- CmbCountry Select -->
                            <select class="form-select form-select-sm" aria-label="Select Brith Country" @bind="BirthDetails!.CmbCountry">
                                @if (CmbCountry != null)
                                {
                                    @foreach (var item in CmbCountry)
                                    {
                                        <option value="@item.Value">@item.Text</option>
                                    }
                                }
                            </select>
                        </div>

                        <div class="col-12 col-md-6">

                            @if ((IsAdmin || UserCanEdit) && inputBirthPlaceEnabled)
                            {
                                @* <InputText @ref="inputTextBirthPlace" @bind-Value="BirthDetails!.TxtBirthPlace" class="form-control form-control-sm mb-2" @onkeydown="OnKeyDown_TxtBirthplace" @oninput="OnInput_TxtBirthplace" @onfocus="OnFocus_TxtBirthplace" /> *@
                                <input type="search" class="form-control form-control-sm" placeholder="Search Birth Place" title="Birth Place" @bind="BirthDetails!.TxtBirthPlace" @bind:event="oninput" @onkeyup="OnKeyDown_TxtBirthplace" />
                            }
                            else
                            {
                                <input type="search" class="form-control form-control-sm" placeholder="Search Birth Place" title="Birth Place" value="@BirthDetails!.TxtBirthPlace" readonly />
                            }
                        </div>

                        <div class="col-12">


                            @if (ListBirthCities != null)
                            {

                                <select class="form-select form-select-sm " aria-label="Select BirthCity" size="3" value="@selectedBirthCityIndex" @onchange="OnChange_ListBirthCities">
                                    <option value="0">-- Select --</option>

                                    @*     ListBirthCities.Insert(0, "Select"); *@

                                    @for (int i = 0; i < ListBirthCities.Count; i++)
                                    {

                                        @* <option value="@i" @onclick="e => OnClick_ListBirthCity(e, i)">@ListBirthCities[i].Place</option> *@
                                        <option value="@(i + 1)">@ListBirthCities[i].Place</option>
                                    }
                                </select>
                            }
                        </div>

                        <div class="col-6 col-md-4">


                            <!-- Longtitude InputText -->
                            <div class="form-floating">
                                <InputText id="InputLongtitude" class="form-control form-control-sm" title="Longtitude" placeholder="Longtitude" @bind-Value="BirthDetails!.Longtitude" readonly />
                                <label for="InputLongtitude" class="me-2"> Longtitude </label>
                            </div>
                        </div>

                        <div class="col-6 col-md-4">
                            <!-- Latitude InputText -->
                            <div class="form-floating">
                                <InputText id="Latitude" class="form-control form-control-sm" type="text" title="Latitude" placeholder="Latitude" @bind-Value="BirthDetails!.Latitude" />
                                <label for="Latitude" class="me-2"> Latitude </label>
                            </div>

                        </div>
                        <div class="col-12 col-md-4">


                            <!-- TxtTimezone Input -->
                            <div class="form-floating">
                                @if (IsAdmin || UserCanEdit)
                                {
                                    <InputText id="Timezone" class="form-control form-control-sm" title="Timezone" placeholder="Timezone" @bind-Value="BirthDetails!.TxtTimezone" />
                                }
                                else
                                {
                                    <input id="Timezone" class="form-control form-control-sm" type="text" title="Timezone" placeholder="Timezone" value="@BirthDetails!.TxtTimezone" readonly />
                                }
                                @* <input id="InputLongtitude" class="form-control form-control-sm" type="text" title="Timezone" placeholder="Timezone" /> *@
                                <label for="Timezone" class="me-2"> Timezone </label>
                            </div>
                        </div>

                    </div>

                    <div class="row row-cols-sm-1 gy-2 mt-2">
                        <div class="col-12 col-md-4">

                            <select class="form-select form-select-sm" title="Category" value="@BirthDetails!.CmbCategory" @onchange="OnChange_CmbCategory">
                                @foreach (var item in BirthDetailsLookups.BirthCategoryItems.Where(a => !a.Disabled))
                                {
                                    <option value="@item.Value">@item.Text</option>
                                }
                            </select>
                        </div>

                        <div class="col-12 col-md-4">
                            <!-- CmbAyanansh Select -->
                            <select class="form-select form-select-sm" title="Ayanansh" value="@BirthDetails.CmbAyanansh" @onchange="OnChange_CmbAyanansh">
                                @foreach (var item in BirthDetailsLookups.CmbAyananshItems)
                                {
                                    <option value="@item.Text">@item.Text</option>
                                }
                            </select>
                        </div>

                        <div class="col-12 col-md-4">
                            <!-- Rotate Select -->
                            <select class="form-select form-select-sm" title="Rotate" value="@BirthDetails.CmbRotate" @onchange="OnChange_CmbRotate">
                                @foreach (var item in BirthDetailsLookups.CmbRotateItems)
                                {
                                    <option value="@item.Text">@item.Text</option>
                                }
                            </select>
                        </div>

                        <div class="col-12 col-md-4">
                            <!-- CmbLanguage Select -->
                            <select class="form-select form-select-sm" title="Language" value="@BirthDetails!.CmbLanguage" @onchange="OnChange_CmbLanguage">
                                <!-- Replace with actual options -->
                                @foreach (var item in BirthDetailsLookups.LanguageItems)
                                {
                                    <option value="@item.Text">@item.Text</option>
                                }
                            </select>
                        </div>
                    </div>


                    <div class="row row-cols-sm-2 gy-2 mt-2">

                        <div class="col-6 col-md-3">
                            <div class="form-check">
                                <InputCheckbox type="checkbox" id="ChkSahasane" class="form-check-input" @bind-Value="BirthDetails!.ChkSahasaneLogic" />
                                <label class="form-check-label" for="ChkSahasane">Sahasane Logic</label>
                            </div>
                        </div>

                        <div class="col-6 col-md-3">
                            <div class="form-check">
                                <InputCheckbox type="checkbox" id="ChkSalachakkar" class="form-check-input" @bind-Value="BirthDetails!.SalaChakkar" />
                                <label class="form-check-label" for="ChkSalachakkar">35 Sala Chakkar</label>

                            </div>
                        </div>

                        <div class="col-6 col-md-3">
                            <div class="form-check">
                                <InputCheckbox id="ChkMfal" class="form-check-input" type="checkbox" @bind-Value="BirthDetails!.ChkMfal" />
                                <label class="form-check-label" for="ChkMfal">Mfal</label>

                            </div>
                        </div>

                        <div class="col-6 col-md-3">
                            <div class="form-check">
                                <InputCheckbox id="ref" class="form-check-input" type="checkbox" @bind-Value="BirthDetails!.ChkShowRef" />
                                <label class="form-check-label" for="ref">Show Ref. Code</label>
                            </div>
                        </div>
                    </div>

                </EditForm>
            </div>

            <div class="card-footer bg-transparent border-top-2">

                <div class="d-grid gap-2 d-flex justify-content-between justify-content-md-end ">
                    <button class="btn btn-custom btn-sm" type="button">Show Kundali</button>
                    <button class="btn btn-custom btn-sm" type="button">Vivran</button>

                    @if (OnInitialized_IsComplatedSuccessfully)
                    {
                        <button class="btn btn-custom btn-sm me-sm-2" type="button" @onclick="OnClick_BtnSaveKundali"> Save Kundali </button>
                    }
                    else
                    {
                        <button class="btn btn-custom btn-sm me-sm-2" type="button" disabled>
                            <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
                            <span role="status">Loading...</span>
                        </button>
                    }
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-6 astro-report-kundali-table">
        <div class="card border-img bg-custom">
            <div class="card-header bg-transparent border-bottom-2 text-center">
                <h2 class="fw-bold">Kundali Table</h2>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-sm table-hover">
                            <thead>
                                <tr>
                                    <th>Desk</th>
                                    <th>Value</th>
                                </tr>
                            </thead>
                            <tbody>

                                @if (ListView_Ruling_Planet == null)
                                {


                                    @for (int i = 0; i < 12; i++)
                                    {
                                        <tr>
                                            <td><MudSkeleton /></td>
                                            <td><MudSkeleton /></td>
                                        </tr>
                                    }


                                }
                                else
                                {

                                    @foreach (var row in ListView_Ruling_Planet ?? new List<KundaliTableTRModel>())
                                    {
                                        <tr class="@row.SelectedClass">
                                            <td>@row.Item</td>
                                            <td>@row.SubItem</td>
                                        </tr>
                                    }

                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-6 astro-report-kundali-chart">
        <div class="card border-img bg-custom">
            <div class="card-header bg-transparent border-bottom-2 text-center">
                <h2 class="fw-bold">Kundali</h2>
            </div>

            <div class="card-body">
                <EditForm Model="BirthDetails">
                    <div class="row gy-5">
                        <div class="col-12">

                            <div class="row row-cols-2 row-cols-md-3 row-cols-xxl-6 g-2">
                                <div class="col"><button type="button" class="w-100 btn btn-custom btn-sm" title="Cusp" @onclick="OnClick_BhavChalit"> Cusp </button></div>
                                <div class="col"><button type="button" class="w-100 btn btn-custom btn-sm" title="Kundali" @onclick="OnClick_Lagan"> Kundali </button></div>
                                <div class="col"><button type="button" class="w-100 btn btn-custom btn-sm" title="Chandra Kundali" @onclick="OnClick_Chandra"> Chandra </button></div>
                                <div class="col"><button type="button" class="w-100 btn btn-custom btn-sm" title="Vartmaan" @onclick="OnClick_Gochar"> Vartmaan </button></div>
                                <div class="col"><button type="button" class="w-100 btn btn-custom btn-sm" title="Varshphal" @onclick="OnClick_Varsh"> Varshphal </button></div>
                                @if (isNumVarshVisible)
                                {
                                    <div class="col">
                                        <InputNumber class="form-control form-control-sm text-center " min="1" max="120" @bind-Value="BirthDetails.KundaliUdvYear" />
                                    </div>
                                }
                            </div>

                        </div>



                        <div class="col-12 d-flex">
                            @if (!string.IsNullOrEmpty(imgSrc))
                            {

                                <img class="img-fluid  flex-fill" src="@imgSrc" alt="" />

                            }
                            else
                            {
                                <MudSkeleton Class="flex-fill" SkeletonType="SkeletonType.Rectangle" Height="200px" />

                            }
                        </div>
                    </div>


                    <div class="row mt-2 text-center">
                    </div>
                </EditForm>
            </div>
        </div>
    </div>

    <div class="col-lg-12 astro-report">
        <BSTabs BSTabName="Report Tabs">
            <BSTabItems>
                <BSTabItem TabName="Charts" IsActive="true" />
                <BSTabItem TabName="Mahadasha" />
                <BSTabItem TabName="Date Finder" />
                <BSTabItem TabName="Best Kundali Dates" />
            </BSTabItems>
            <BSTabContent>
                <BSTabPanel TabPanelName="Charts" IsActive="true">
                    <TabPanelBody>

                        <div class="row">
                            <div class="col-lg-7 mb-3 mb-lg-0">
                                <div class="table-responsive">
                                    <table class="table table-sm">

                                        <thead>
                                            <tr>
                                                <th>House</th>
                                                <th>RL-NL-SL-SSL</th>
                                                <th>Nakshatra</th>
                                                <th>Sub Lord Nakshatra</th>
                                            </tr>
                                        </thead>
                                        @if (ListView_House == null)
                                        {
                                            <tbody>

                                                @for (int i = 0; i < 12; i++)
                                                {
                                                    <tr>
                                                        <td><MudSkeleton /> </td>
                                                        <td><MudSkeleton /> </td>
                                                        <td><MudSkeleton /> </td>
                                                        <td><MudSkeleton /> </td>
                                                    </tr>
                                                }

                                            </tbody>
                                        }
                                        else
                                        {
                                            <tbody>
                                                @foreach (var row in ListView_House ?? new List<ChartHouseTableTRModel>())
                                                {
                                                    <tr class="@row.ForeColor @row.SelectedClass" @ondblclick="()=> OnDblClick_TR_ListView_House(row)" @onclick="()=> OnClick_TR_ListView_House(row)">
                                                        <td>@row.House</td>
                                                        <td>@row.RL_NL_SL_SSL</td>
                                                        <td>@row.NakSigni</td>
                                                        <td>@row.SubSigni</td>
                                                    </tr>
                                                }
                                            </tbody>
                                        }

                                    </table>
                                </div>
                            </div>

                            <div class="col-lg-5">

                                <div class="chart-table table-responsive">
                                    <table class="table table-sm">
                                        <thead>
                                            <tr>
                                                <th>Planet</th>
                                                <th>RL-NL-SL-SSL</th>
                                                <th>Significators</th>
                                            </tr>
                                        </thead>
                                        @if (ListView_Planet == null)
                                        {
                                            <tbody>
                                                @for (int i = 0; i < 9; i++)
                                                {
                                                    <tr>
                                                        <td><MudSkeleton /></td>
                                                        <td><MudSkeleton /></td>
                                                        <td><MudSkeleton /></td>
                                                    </tr>
                                                }

                                            </tbody>
                                        }
                                        else
                                        {
                                            <tbody>
                                                @foreach (var row in ListView_Planet ?? new List<ChartPlanetTableTRModel>())
                                                {

                                                    <tr title="@row.ToolTipText" class="@row.ForeColor @row.SelectedClass" @onclick="() => OnClick_TR_ListView_Planet(row)">
                                                        <td>@row.Planet</td>
                                                        <td>@row.RL_NL_SL_SSL</td>
                                                        <td>@row.Significators</td>
                                                    </tr>
                                                }
                                            </tbody>
                                        }

                                    </table>
                                </div>
                            </div>
                        </div>

                    </TabPanelBody>
                </BSTabPanel>
                <BSTabPanel TabPanelName="Mahadasha">
                    <TabPanelBody>
                        <div class="row">

                            <div class="col-lg-6 col-xl-3">
                                <div class="mb-3 mb-xl-0">

                                    <div class="">
                                        <h5 class="font-weight-bold mb-0">महादशा </h5>
                                        <label class="mt-3 d-block"> @(new MarkupString(LblMahadasha)) </label>
                                    </div>

                                    <div class="">
                                        <div class="table-responsive">


                                            <table class="table table-sm">

                                                <thead>
                                                    <tr>
                                                        <th>Planet</th>
                                                        <th>Period</th>
                                                        <th>Signi(Self/Nak)</th>
                                                    </tr>
                                                </thead>

                                                @if (ListView_Mahadasha == null)
                                                {
                                                    <tbody>
                                                        @for (int i = 0; i < 9; i++)
                                                        {
                                                            <tr>
                                                                <td><MudSkeleton /></td>
                                                                <td><MudSkeleton /></td>
                                                                <td><MudSkeleton /></td>
                                                            </tr>
                                                        }

                                                    </tbody>
                                                }
                                                else
                                                {
                                                    <tbody>
                                                        @foreach (var row in ListView_Mahadasha ?? new List<MahadashaTableTRModel>())
                                                        {
                                                            <tr class="@row.SelectedClass" @onclick="()=>OnClick_TR_ListView_Mahadasha(row)" @ondblclick="() => OnDblClick_TR_ListView_Mahadasha(row)">
                                                                <td>@row.Planet</td>
                                                                <td>@row.Period</td>
                                                                <td>@row.Signi</td>
                                                            </tr>
                                                        }
                                                    </tbody>
                                                }
                                            </table>

                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6 col-xl-3">
                                <div class="mb-3">
                                    <div class="mb-3 mb-xl-0">

                                        <div class="">
                                            <h5 class="font-weight-bold mb-0">अन्तर्दशा</h5>
                                            @if (!BirthDetails.SalaChakkar)
                                            {
                                                <label class="mt-3 d-block">@(new MarkupString(LblAntar))</label>
                                            }
                                        </div>
                                        <div class="">
                                            <div class="table-responsive">
                                                <table class="table table-sm">
                                                    @if (!BirthDetails.SalaChakkar)
                                                    {
                                                        <thead>
                                                            <tr>
                                                                <th>Planet</th>
                                                                <th>Period</th>
                                                                <th>Signi(Self/Nak)</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @foreach (var row in ListView_Antardasha ?? new List<AntardashaTableTRModel>())
                                                            {
                                                                <tr class="@row.SelectedClass" @onclick="()=> OnClick_TR_ListView_Antardasha(row)" @ondblclick="()=> OnDblClick_TR_ListView_Antardasha(row)">
                                                                    <td>@row.Planet</td>
                                                                    <td>@row.Period</td>
                                                                    <td>@row.Signi</td>
                                                                </tr>
                                                            }
                                                        </tbody>
                                                    }
                                                    else
                                                    {
                                                        <thead>
                                                            <tr>
                                                                <th>Planet</th>
                                                                <th>Antar</th>
                                                                <th>Period</th>
                                                                <th>Age</th>
                                                            </tr>
                                                        </thead>
                                                        @if (ListView_Years35 == null)
                                                        {
                                                            <tbody>
                                                                @for (int i = 0; i < 7; i++)
                                                                {
                                                                    <tr>
                                                                        <td><MudSkeleton /></td>
                                                                        <td><MudSkeleton /></td>
                                                                        <td><MudSkeleton /></td>
                                                                        <td><MudSkeleton /></td>
                                                                    </tr>
                                                                }

                                                            </tbody>
                                                        }
                                                        else
                                                        {
                                                            <tbody>
                                                                @foreach (var row in ListView_Years35 ?? new List<Years35TableTRModel>())
                                                                {
                                                                    <tr class="@row.SelectedClass" @onclick="()=>OnClick_TR_ListView_Years35(row)" @ondblclick="()=> OnDblClick_TR_ListView_Years35(row)">
                                                                        <td>@row.Planet</td>
                                                                        <td>@row.Antar</td>
                                                                        <td>@row.Period</td>
                                                                        <td>@row.Age</td>
                                                                    </tr>
                                                                }
                                                            </tbody>
                                                        }

                                                    }
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            @if (!BirthDetails.SalaChakkar)
                            {
                                <div class="col-lg-6 col-xl-3">

                                    <div class=" mb-3 mb-xl-0">
                                        <div class="">
                                            <h5 class="font-weight-bold mb-0">प्र्यंतरदशा</h5>
                                            <label class="mt-3 d-block">@(new MarkupString(LblParyan))</label>
                                        </div>
                                        <div class="">
                                            <div class="table-responsive">
                                                <table class="table table-sm">
                                                    <thead>
                                                        <tr>
                                                            <th>Planet</th>
                                                            <th>Period</th>
                                                            <th>Signi(Self/Nak)</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @foreach (var row in ListView_Prayantardasha ?? new List<PrayantardashaTableTRModel>())
                                                        {
                                                            <tr class="@row.SelectedClass" @onclick="()=> OnClick_TR_ListView_Prayantardasha(row)" @ondblclick="()=> OnDblClick_TR_ListView_Prayantardasha(row)">
                                                                <td>@row.Planet</td>
                                                                <td>@row.Period</td>
                                                                <td>@row.Signi</td>
                                                            </tr>
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6 col-xl-3">
                                    <div class="mb-3 mb-xl-0">
                                        <div class="">
                                            <h5 class="font-weight-bold mb-0">सुक्ष्मदशा </h5>
                                            <label class="mt-3 d-block"> @(new MarkupString(LblSukhsmadasha)) </label>
                                        </div>
                                        <div class="">
                                            <div class="table-responsive">

                                                <table class="table table-sm">
                                                    <thead>
                                                        <tr>
                                                            <th>Planet</th>
                                                            <th>Period</th>
                                                            <th>Signi(Self/Nak)</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @foreach (var row in ListView_Sukhsmadasha ?? new List<SukhsmadashaTableTRModel>())
                                                        {
                                                            <tr class="@row.SelectedClass" @onclick="()=>OnClick_TR_ListView_Sukhsmadasha(row)" @ondblclick="()=> OnDblClick_TR_ListView_Sukhsmadasha(row)">
                                                                <td>@row.Planet</td>
                                                                <td>@row.Period</td>
                                                                <td>@row.Signi</td>
                                                            </tr>
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </TabPanelBody>
                </BSTabPanel>
                <BSTabPanel TabPanelName="Date Finder">
                    <TabPanelBody>

                        <EditForm Model="DateFinder">
                            <div class="row row-cols-sm-1 row-cols-md-2 g-3">
                                <div class="col">
                                    <div class="row row-cols-1 g-3">
                                        <div class="col">
                                            <div class="input-group mb-3 dropup">
                                                <div class="form-floating">
                                                    <input id="inputOccassion" class="form-control" type="text" aria-label="Select Occassion" placeholder="Choose Occassion" @bind="DateFinder!.Occassion" />
                                                    <label for="inputOccassion">Choose Occassion</label>
                                                </div>
                                                <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false"></button>
                                                <ul class="dropdown-menu dropdown-menu-end">
                                                    @foreach (var item in DateFinder.OccassionList)
                                                    {
                                                        <li><button class="dropdown-item" type="button" @onclick="()=>OnClick_BtnOccassionItem(item)">@item.Text</button></li>
                                                    }
                                                </ul>
                                            </div>
                                        </div>


                                        <div class="col">
                                            <div class="d-flex justify-content-between">
                                                <div class="form-check">
                                                    <InputCheckbox id="sahasane" class="form-check-input" @bind-Value="DateFinder!.Sahasane" />
                                                    <label class="form-check-label" for="sahasane">Sahasane</label>
                                                </div>
                                                <div class="form-check">
                                                    <InputCheckbox id="fullMatch" class="form-check-input" @bind-Value="DateFinder!.FullMatch" />
                                                    <label class="form-check-label" for="fullMatch">Full match</label>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col">

                                            <h6 class="form-label">Choose Period :</h6>

                                            <InputRadioGroup Name="DateFinderChoosePeriod" @bind-Value="DateFinder!.Period">
                                                <div class="form-check form-check-inline">
                                                    <InputRadio Value="Period.Maha" class="form-check-input" id="rbMaha" />
                                                    <label class="form-check-label" for="rbMaha">
                                                        Maha
                                                    </label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <InputRadio Value="Period.Antar" class="form-check-input" id="rbAntar" />
                                                    <label class="form-check-label" for="rbAntar">
                                                        Antar
                                                    </label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <InputRadio Value="Period.Pryan" class="form-check-input" id="rbPryan" />
                                                    <label class="form-check-label" for="rbPryan">
                                                        Pryan
                                                    </label>
                                                </div>
                                            </InputRadioGroup>
                                            <InputRadioGroup Name="DateFinderDashaRadioButtons" @bind-Value="DateFinder!.Dasha">
                                                <div class="form-check form-check-inline">
                                                    <InputRadio Value="Dasha.Dasha" class="form-check-input" id="rbDasha" />
                                                    <label class="form-check-label" for="rbDasha">
                                                        Dasha
                                                    </label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <InputRadio Value="Dasha.NakSwami" class="form-check-input" id="rbNakswami" />
                                                    <label class="form-check-label" for="rbNakswami">
                                                        Nak Swami
                                                    </label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <InputRadio Value="Dasha.Both" class="form-check-input" id="rbForBoth" />
                                                    <label class="form-check-label" for="rbForBoth">
                                                        Both
                                                    </label>
                                                </div>
                                            </InputRadioGroup>
                                        </div>


                                        <div class="col">
                                            <button type="button" class="btn btn-custom" @onclick="OnClick_BtnShow_TabDateFinder">Show</button>
                                        </div>
                                    </div>
                                </div>

                                <div class="col">
                                    <InputTextArea class="form-control" rows="13" Placeholder="Date Lists ..." @bind-Value="DateFinder.DateList" />
                                </div>

                            </div>
                        </EditForm>
                    </TabPanelBody>
                </BSTabPanel>
                <BSTabPanel TabPanelName="Best Kundali Dates">
                    <TabPanelBody>

                        <div class="row">
                            <div class="col-md-4 mb-3 mb-md-0">

                                <EditForm Model="BestKundaliDates">
                                    <div class="row">
                                        <div class="col">
                                            <div class="row align-items-end mt-2">
                                                <div class="col-12">
                                                    <h6 class="font-weight-bold">Starting Date and Time</h6>
                                                </div>
                                                <div class="col col-12 col-sm-6 col-md-12 col-lg-6 mb-2 mb-sm-0 mb-md-2 mb-lg-0">
                                                    <div>
                                                        <InputDate @bind-Value="BestKundaliDates.Pick_start_date" class="form-control" />
                                                    </div>
                                                </div>
                                                <div class="col col-12 col-sm-6 col-md-12 col-lg-6">
                                                    <div>
                                                        <input type="time" @bind="BestKundaliDates.StartingTime" class="form-control" step="1" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mt-2">
                                        <div class="col">
                                            <div class="row align-items-end mt-2">
                                                <div class="col-12">
                                                    <h6 class="font-weight-bold">Ending Date and Time</h6>
                                                </div>
                                                <div class="col col-12 col-sm-6 col-md-12 col-lg-6 mb-2 mb-sm-0 mb-md-2 mb-lg-0">
                                                    <div>
                                                        <InputDate @bind-Value="BestKundaliDates.Pick_end_date" class="form-control" />
                                                    </div>
                                                </div>
                                                <div class="col col-12 col-sm-6 col-md-12 col-lg-6">
                                                    <div>
                                                        <input type="time" @bind="BestKundaliDates.EndingTime" class="form-control" step="1" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col">
                                            <div class="d-flex justify-content-between align-items-center">
                                                <label class="text-nowrap mr-3">Choose Rating</label>
                                                <InputSelect @bind-Value="BestKundaliDates.Comborating" class="form-control custom-select" aria-label="Select Rating">

                                                    @foreach (var item in BestKundaliDates.ComboratingSelect)
                                                    {
                                                        <option value="@item.Text">@item.Text</option>
                                                    }
                                                </InputSelect>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row mt-2 d-flex justify-content-between">
                                        <InputRadioGroup Name="KundaliDatesRadio" @bind-Value="BestKundaliDates!.KundaliDatesRadio">
                                            <div class="col">
                                                <div class="form-check">
                                                    <InputRadio Value="KundaliDatesRadio.Kp" class="form-check-input" id="rbKp" />
                                                    <label class="form-check-label" for="rbKp">
                                                        KP
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="form-check">
                                                    <InputRadio Value="KundaliDatesRadio.RedBook" class="form-check-input" id="rbRedBook" />
                                                    <label class="form-check-label" for="rbRedBook">
                                                        Red Book
                                                    </label>
                                                </div>
                                            </div>
                                        </InputRadioGroup>
                                    </div>
                                    <div class="row align-items-center">

                                        <div class="col">
                                            <label class="mb-0">
                                                @BestKundaliDates.countProcess
                                            </label>
                                        </div>

                                        <div class="col">

                                            <div class="d-flex flex-row-reverse">
                                                <button type="button" class="btn btn-custom" @onclick="OnClick_BtnShow_TabKundaliDates">Show</button>
                                            </div>
                                        </div>
                                    </div>
                                </EditForm>


                            </div>

                            <div class="col-md-8">

                                <EditForm Model="BestKundaliDates">
                                    <InputTextArea class="form-control" rows="13" Placeholder="Best Dates..." @bind-Value="BestKundaliDates.BestDate" />
                                </EditForm>
                            </div>
                        </div>


                    </TabPanelBody>
                </BSTabPanel>
            </BSTabContent>
        </BSTabs>

    </div>
</div>
