@using AstroOfficeWeb.Client.Pages.Product;
@inject ISnackbar Snackbar
<EditForm Model="@Category" OnValidSubmit="AddCategory">
            <DataAnnotationsValidator />
<MudDialog>
    <TitleContent>
    </TitleContent>
    <DialogContent>
            <MudPaper Class="pa-2 ma-2" Elevation="0">
                <label for="Category-Title">Title</label>
                <MudTextField T="string" id="Category-Title" Variant="Variant.Filled" Placeholder=" Enter category title" @bind-Value="Category.Title" For="@(() => Category.Title)" />
            </MudPaper>
            <MudPaper Class="pa-2 ma-2" Elevation="0">
                <label for="Category-Slug">Slug</label>
                <MudTextField T="string" id="Category-Slug" Variant="Variant.Filled" Placeholder=" Enter slug" @bind-Value="Category.Slug" For="@(() => Category.Slug)" />
            </MudPaper>
            <MudGrid>
                <label>Attachment File</label>
                <MudItem xs="6">
                    <MudFileUpload T="IBrowserFile" Accept=".png, .jpg, .jpeg" FilesChanged="UploadFiles">
                        <ButtonTemplate Context="fileContext">
                            <MudButton HtmlTag="label"
                                       Variant="Variant.Filled"
                                       Color="Color.Primary"
                                       for="@fileContext.Id">
                                Choose File
                            </MudButton>
                        </ButtonTemplate>
                    </MudFileUpload>
                </MudItem>
                <MudItem xs="6">
                    <MudText><MudIcon Icon="@Icons.Material.Filled.AttachFile" />@(string.IsNullOrEmpty(CategoryImage) ? "No file choosen yet" : CategoryImage)</MudText>
                </MudItem>@* <div class="custom-file">
                <InputFile typeclass="custom-file-input" id="inputFile" accept=".jpeg, .jpg, .png" @bind-value="@Category.FileUpload" />
                <label class="custom-file-label" for="inputFile"> @(Category!.FileUpload != null ? Category.FileUpload.Name : "Choose file...") </label>
                </div> *@
            </MudGrid>
            <MudPaper Class="pa-2 ma-2" Elevation="0">
                <label for="Category-ParentCategory">Parent Category</label>
                <MudSelect T="string" @bind-Value="@Category.ParentCategory" For="@(() => Category.ParentCategory)" Placeholder="Select parent category" id="Category-ParentCategory" Variant="Variant.Filled" AnchorOrigin="Origin.BottomCenter">
                    @foreach (var item in CategoryList)
                    {
                        <MudSelectItem T="string" Value="@item.Title">@item.Title</MudSelectItem>
                    }
                </MudSelect>
            </MudPaper>
            <MudPaper Class="pa-2 ma-2" Elevation="0">
                <label for="Category-Status">Status</label>
                <MudSelect T="string" @bind-Value="@Category.Status" For="@(() => Category.Status)" Placeholder="Select category status" id="Category-Status" Variant="Variant.Filled" AnchorOrigin="Origin.BottomCenter">
                    <MudSelectItem Value="@("Scheduled")" />
                    <MudSelectItem Value="@("Publish")" />
                    <MudSelectItem Value="@("Inactive")" />
                </MudSelect>
            </MudPaper>
        <MudPaper Class="pa-2 ma-2" Elevation="0">
                <label for="product-description">Description</label>
                <InputTextEditor @bind-Value="@Category.Description" For="@(() => Category.Description)" id="product-description" DefaultValue="@Category.Description"></InputTextEditor>
            </MudPaper>
        
    </DialogContent>
    <DialogActions>
            <MudButton ButtonType="ButtonType.Submit" Color="Color.Success" Size="Size.Medium" Variant="Variant.Filled">Add </MudButton>
        <MudButton Class="mr-4" Color="Color.Primary" Size="Size.Medium" Variant="Variant.Filled" OnClick="Cancel">Cancel</MudButton>        
    </DialogActions>
</MudDialog>
</EditForm>