@page "/register"
@inject IJSRuntime JSRuntime


<div class="login-page" style="min-height: 332.781px;">
    <div class="login-box card-frame">
        <div>
            <div class="login-logo">
                <h3>Registration Page</h3>
            </div>
            <div class="card">
                <div class="card-body register-card-body">
                    <p class="login-box-msg">Register a new membership</p>

                    <EditForm Model="registrationModel" OnValidSubmit="RegisterUser">
                        <DataAnnotationsValidator />
                        <div class="input-group mb-4">
                            <InputText @bind-Value="registrationModel.UserName" class="form-control" placeholder="User Name" />
                            <i class="fas fa-user"></i>
                            <ValidationMessage For="@(() => registrationModel.UserName)" />
                        </div>
                        <div class="input-group mb-4">
                            @* <InputText @bind-Value="registrationModel.MobileNumber" class="form-control" placeholder="Mobile no." /> *@

                            <InputText @ref="InputMobileNumber" @bind-Value="registrationModel.MobileNumber" class="form-control" placeholder="Mobile no." @onfocusout="OnFocusOut_MobileNumber" />
                            <i class="fas fa-mobile"></i>
                            <ValidationMessage For="@(() => registrationModel.MobileNumber)" />
                        </div>
                        <div class="input-group mb-4">
                            <InputText @bind-Value="registrationModel.Password" type="@(PasswordIsClicked ? "text" : "password")" class="form-control" placeholder="Password" />
                            <i class="fas @(PasswordIsClicked ? "fa-eye-slash" : "fa-eye")" @onclick="()=>{PasswordIsClicked = !PasswordIsClicked; }"></i>
                            <ValidationMessage For="@(() => registrationModel.Password)" />
                        </div>
                        <div class="input-group">
                            <InputText @bind-Value="registrationModel.RetypePassword" type="@(ConfirmPasswordIsClicked ? "text" : "password")" class="form-control" placeholder="Retype password" />
                            <i class="fas @(ConfirmPasswordIsClicked ? "fa-eye-slash" : "fa-eye")" @onclick="()=>{ConfirmPasswordIsClicked = !ConfirmPasswordIsClicked; }"></i>
                            <ValidationMessage For="@(() => registrationModel.RetypePassword)" />
                        </div>
                        <div class="row mt-3">
                            <div class="col-12">
                                <div class="icheck-primary">
                                    <InputCheckbox @bind-Value="registrationModel.AgreeTerms" id="agreeTerms" />
                                    <label for="agreeTerms">
                                        I agree to the <a href="javascript:;">terms</a>
                                    </label>
                                </div>
                            </div>
                            <div class="col-12 mt-2">
                                <button type="submit" class="btn btn-custom btn-block">Register</button>
                            </div>
                            <div class="col-12 mt-3 text-center">
                                <a href="/login" class="text-center forgot-link">I already have a membership</a>
                            </div>
                        </div>
                    </EditForm>

                    
                </div>
            </div>
        </div>
    </div>
</div>

@code{
    private string? Password { get; set; }
    private bool PasswordIsClicked { get; set; } = false;
    private string? ConfirmPassword { get; set; }
    private bool ConfirmPasswordIsClicked { get; set; } = false;
}