@page "/register"

@inject NavigationManager NavigationManager 
@inject IJSRuntime JSRuntime
@inject IAuthenticationService AuthService

<div class="login-page" style="min-height: 332.781px;">
    <div class="login-box card-frame">
        <div>
            <div class="login-logo">
                <h3>Registration Page</h3>
            </div>
            <div class="card">
                <div class="card-body register-card-body">
                    <p class="login-box-msg">Register a new membership</p>

                    @if (Errors != null && Errors.Any())
                    {
                        <ul>
                            @foreach (string message in Errors)
                            {
                                <li class="text-danger">@message</li>
                            }
                        </ul>
                    }
                    <EditForm Model="RegistrationModel" OnValidSubmit="OnValidSubmit_RegisterUser">
                        <DataAnnotationsValidator />
                        <div class="input-group mb-4">
                            <InputText @bind-Value="RegistrationModel.UserName" class="form-control" placeholder="User Name" />
                            <i class="fas fa-user"></i>
                            <ValidationMessage For="@(() => RegistrationModel.UserName)" />
                        </div>
                        <div class="input-group mb-4">
                            <InputText @ref="InputMobileNumber" @bind-Value="RegistrationModel.MobileNumber" class="form-control" placeholder="Mobile no." @onfocusout="OnFocusOut_MobileNumber" />
                            <i class="fas fa-mobile"></i>
                            <ValidationMessage For="@(() => RegistrationModel.MobileNumber)" />
                        </div>
                        <div class="input-group mb-4">
                            <InputText @bind-Value="RegistrationModel.Password" type="@(PasswordIsClicked ? "text" : "password")" class="form-control" placeholder="Password" />
                            <i class="fas @(PasswordIsClicked ? "fa-eye-slash" : "fa-eye")" @onclick="()=>{PasswordIsClicked = !PasswordIsClicked; }"></i>
                            <ValidationMessage For="@(() => RegistrationModel.Password)" />
                        </div>
                        <div class="input-group">
                            <InputText @bind-Value="RegistrationModel.RetypePassword" type="@(ConfirmPasswordIsClicked ? "text" : "password")" class="form-control" placeholder="Retype password" />
                            <i class="fas @(ConfirmPasswordIsClicked ? "fa-eye-slash" : "fa-eye")" @onclick="()=>{ConfirmPasswordIsClicked = !ConfirmPasswordIsClicked; }"></i>
                            <ValidationMessage For="@(() => RegistrationModel.RetypePassword)" />
                        </div>
                        <div class="row mt-3">
                            <div class="col-12">
                                <div class="icheck-primary">
                                    <InputCheckbox @bind-Value="RegistrationModel.AgreeTerms" id="agreeTerms" />
                                    <label for="agreeTerms">
                                        I agree to the <a href="javascript:;">terms</a>
                                    </label>
                                </div>
                            </div>
                            <div class="col-12 mt-2">
                                <button type="submit" class="btn btn-custom btn-block">Register</button>
                            </div>
                            <div class="col-12 mt-3 text-center">
                                <a href="/login" class="text-center forgot-link">I already have a membership</a>
                            </div>
                        </div>
                    </EditForm>


                </div>
            </div>
        </div>
    </div>
</div>

@code {
    private string? Password { get; set; }
    private bool PasswordIsClicked { get; set; } = false;
    private string? ConfirmPassword { get; set; }
    private bool ConfirmPasswordIsClicked { get; set; } = false;
}