@page "/saved-kundalis"
@using AstroShared.ViewModels
@using AstroOfficeMobile.Services

@inject KundaliHistroyService KundaliHistroy
@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Saved Kundalis</h1>
            </div><!-- /.col -->

        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</section>
<!-- /.content-header -->

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body table-responsive p-0">
                        <table class="table table-bordered table-hover text-nowrap table-head-fixed">
                            <thead>
                                <tr>
                                    <th>Sr No</th>
                                    <th>Name</th>
                                    <th>Product Name</th>
                                    <th>Gender</th>
                                    <th>Date of Birth</th>
                                    <th>Time of Birth</th>
                                    <th>Place of Birth</th>
                                    <th>Language</th>
                                    <th>View Date</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            @if (personKundaliTableTRs == null)
                            {
                                <tbody class="overlay-wrapper data-loader">
                                    <tr>
                                        <td colspan="10"><div class="overlay"><i class="fas fa-2x fa-sync fa-spin"></i></div></td>
                                    </tr>
                                    @for (int i = 0; i < 9; i++)
                                    {
                                        <tr>
                                            <td> - </td>
                                            <td> - </td>
                                            <td> - </td>
                                            <td> - </td>
                                            <td> - </td>
                                            <td> - </td>
                                            <td> - </td>
                                            <td> - </td>
                                            <td> - </td>
                                        </tr>
                                    }

                                </tbody>
                            }
                            else
                            {
                                <tbody>
                                    @if (personKundaliTableTRs.Any())
                                    {
                                        foreach (var row in personKundaliTableTRs)
                                        {
                                            <tr>
                                                <td>@row.SrNo</td>
                                                <td>@row.Name</td>
                                                <td>@row.ProductName</td>
                                                <td>@row.Gender</td>
                                                <td>@row.DateOfBirth.ToString(format: "dd - MM - yyyy")</td>
                                                <td>@row.TimeOfBirth.ToString(format: "c")</td>
                                                <td>@row.PlaceOfBirth</td>
                                                <td>@row.Language</td>
                                                <td>@row.ViewDate</td>
                                                <td>
                                                    <button type="button" title="View Kundali" class="btn btn-custom" @onclick="()=>OnClick_BtnShow(row)"><i class="fa fa-eye"></i></button>
                                                    <button type="button" class="btn btn-custom" title="Delete Saved Kundali" @onclick="()=>OnClick_BtnDelete(row)"><i class="fa fa-trash"></i></button>
                                                </td>
                                            </tr>
                                        }
                                    }
                                    else
                                    {
                                        <tr>
                                            <td colspan="10" class="text-center">No records found.</td>
                                        </tr>
                                    }
                                </tbody>
                            }
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /.content -->

@code
{
    private List<PersonKundaliTableTRModel> personKundaliTableTRs;
    private PersonKundaliTableTRModel selectedPersonKundaliTableTR;
    
    protected override async Task OnInitializedAsync()
    {
        personKundaliTableTRs = await KundaliHistroy.GetUserSavedKundalies();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.AddSidebarCollapse();
        }
    }

    private void OnClick_BtnShow(PersonKundaliTableTRModel selectedRow)
    {
        KundaliHistroy.SetSelectedSavedKundali(selectedRow.SrNo - 1);
        NavigationManager.NavigateTo("/");
    }

    private async Task OnClick_BtnDelete(PersonKundaliTableTRModel selectedRow)
    {
        selectedPersonKundaliTableTR = selectedRow;

        if (await KundaliHistroy.IsDeletedSavedKundali(selectedPersonKundaliTableTR!.ID))
        {
            personKundaliTableTRs?.Remove(selectedPersonKundaliTableTR);
        }
    }
}