@page "/viewed-kundalis"
@using AstroShared.ViewModels;
@using Microsoft.AspNetCore.Authorization;
@using AstroOfficeMobile.Services

@attribute [Authorize]

@inject IJSRuntime JSRuntime
@inject KundaliHistroyService KundaliHistroy

<!-- Content Header (Page header) -->
@* <div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Viewed Kundalis</h1>
            </div>
        </div>
    </div>
</div> *@
<!-- /.content-header -->
<!-- Main content -->
<section class="content mt-3">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body table-responsive p-0 overlay-wrapper">
                        @if (personKundaliTableTRs == null)
                        {
                            <div class="overlay dark">
                                <i class="fas fa-2x fa-sync fa-spin"></i>
                            </div>
                        }
                        <table class="table table-sm table-bordered table-hover text-nowrap table-head-fixed">
                            <thead>
                                <tr>
                                    <th>Sr No</th>
                                    <th>Name</th>
                                    <th>Product Name</th>
                                    <th>Gender</th>
                                    <th>Date of Birth</th>
                                    <th>Time of Birth</th>
                                    <th>Place of Birth</th>
                                    <th>Language</th>
                                    <th>View Date</th>
                                </tr>
                            </thead>
                            @if (personKundaliTableTRs == null)
                            {
                                <tbody>
                                    @for (int i = 0; i < 9; i++)
                                    {
                                        <tr>
                                            <td> - </td>
                                            <td> - </td>
                                            <td> - </td>
                                            <td> - </td>
                                            <td> - </td>
                                            <td> - </td>
                                            <td> - </td>
                                            <td> - </td>
                                            <td> - </td>
                                        </tr>
                                    }
                                </tbody>
                            }
                            else
                            {
                                <tbody>
                                    @if (personKundaliTableTRs.Any())
                                    {
                                        foreach (var row in personKundaliTableTRs)
                                        {
                                            <tr>
                                                <td>@row.SrNo</td>
                                                <td>@row.Name</td>
                                                <td>@row.ProductName</td>
                                                <td>@row.Gender</td>
                                                <td>@row.DateOfBirth.ToString(format: "dd - MM - yyyy")</td>
                                                <td>@row.TimeOfBirth.ToString(format: "c")</td>
                                                <td>@row.PlaceOfBirth</td>
                                                <td>@row.Language</td>
                                                <td>@row.ViewDate</td>
                                            </tr>
                                        }
                                    }
                                    else
                                    {
                                        <tr>
                                            <td colspan="9" class="text-center">No records found.</td>
                                        </tr>
                                    }
                                </tbody>
                            }
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- content -->
@code
{
    [CascadingParameter]
    private MainLayout MainLayout { get; set; }

    private List<PersonKundaliTableTRModel> personKundaliTableTRs;

    protected override void OnInitialized()
    {
        MainLayout.NavTitle = "Viewed Kundalis";
    }

    protected override async Task OnInitializedAsync()
    {
        personKundaliTableTRs = await KundaliHistroy.GetUserViewedKundalies();
        await MainLayout.NotifyChangeAsync();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.CloseSidebar();
        }
    }
}